<nav class="dashHeader text-center fixed top"><span>ICRUITS</span></nav>
<section id="pages">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h1 class="text-center cookie-h1">Cookie Policy</h1>
                <div class="body-content text-justify">
                    <p>
                        This policy describes how iCruits uses cookies on <a href="https://icruits.herokuapp.com"></a> (the “Site”).
                        We recommend that you also consult our Privacy Policy for additional information on how we collect and use information collected from visitors to the Site.
                        This policy is effective June 5, 2017. Your continued use of the Site after that will signify your acceptance of this policy.
                        We may modify this Agreement without notifying you, so please check back often for updates.
                    </p>
                    <p>
                        By using the Site, you agree that we can use the cookies described in this Cookie Policy.
                        You can stop cookies by changing the settings in your browser (more information on how to do this is provided below).
                    </p>
                    <h3>What are cookies?</h3>
                    <p>
                        Cookies are text files, containing small amounts of information, which are downloaded to your browsing device
                        (such as a computer or smartphone) when you visit a website. Cookies can be recognized by the website that
                        downloaded them — or other websites that use the same cookies.
                        This helps websites know if the browsing device has visited them before.
                    </p>
                    <h3>What are cookies used for?</h3>
                    <p>
                        Cookies do lots of different jobs, like helping us understand how the Site is being used,
                        letting you navigate between pages efficiently, remembering your preferences,
                        and generally improving your browsing experience.
                        Cookies can also help ensure marketing you see online is more relevant to you and your interests.
                    </p>
                    <h3>What types of cookies does iCruits use?</h3>
                    <p>
                        The type of cookies used on most websites can generally be put into one of six categories:
                        Strictly Necessary, Performance, Functionality, Flash, Tailored Content and Targeting.
                        In order to provide you with the best browsing experience, iCruits uses all of these categories on the Site.
                    </p>
                    <h3>How long will cookies stay on my browsing device?</h3>
                    <p>
                        The length of time a cookie will stay on your browsing device depends on whether it is a “persistent” or “session” cookie.
                        Session cookies will only stay on your device until you stop browsing.
                        Persistent cookies stay on your browsing device until they expire or are deleted.
                    </p>
                    <h3>First and third party cookies</h3>
                    <p>
                        First party cookies are cookies that belong to us, while third party cookies are cookies that another party places on your browsing device through our Site.
                        For example, Facebook will place a cookie on your browsing device if you click on the Facebook link when browsing the Site.
                    </p>
                    <h3>How to control and delete cookies through your browser</h3>
                    <p style="margin-bottom: 100px;">
                        The browser you are using to view the Site can enable, disable or delete cookies.
                        To do this, follow the instructions provided by your browser (usually located within the “Help,” “Tools” or “Edit” facility).
                        Please note that if you set your browser to disable cookies,
                        you may not be able to access certain parts of the Site for example applying for a job or posting a job.
                        Other parts of the Site may also not work properly.
                        You can find out more information about how to change your browser cookie settings at
                        <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
