<nav class="dashHeader text-center fixed top"><span>ICRUITS</span></nav>
<section id="pages">
    <div class="container">
        <div class="row">
			<div class="col-xs-12 col-sm-12 border-left">
				<h1 class="section-title text-center cookie-h1">Terms of Use</h1>
				<div class="body-content text-justify">
					<p>Effective Date: June 25, 2017</p>
                    <p>
                        <span style="font-weight: 400">
                            In order to maintain a safe and trusted recruiting platform
                        </span>
                        <a href="https://icruits.herokuapp.com">
                            <span style="font-weight: 400">
                                icruits.com
                            </span>
                        </a>
                        <span style="font-weight: 400"> and all related and affiliated websites, applications
                            (the “
                        </span><b>Site & Applications</b>
                        <span style="font-weight: 400">”) and to avoid use of the
                            Site & Applications for unauthorized or unintended purposes, we require you and all other users of the
                            Site & Applications (each, a “
                        </span>
                        <b>User</b>
                        <span style="font-weight: 400">”) to agree to and comply
                            with these Terms of Use (the “
                        </span>
                        <b>Terms</b>
                        <span style="font-weight: 400">”).
                            These Terms set forth the acceptable and prohibited uses of our Site & Applications and are in addition to the other
                        </span>
                        <a data-ui-sref="root.terms_of_agreement">
                            <span style="font-weight: 400">Terms of Agreement</span>
                        </a>
                        <span style="font-weight: 400">.
                            By accessing the Site or using any of the Site Services after the effective date,
                            you agree to these Terms. You are also independently responsible for complying with all
                            applicable laws related to your use of the Site or the Site Services whether or not covered by the Terms.
                        </span>
                    </p>
                    <h3><b><b>1. PROHIBITED SITE USE</b></b></h3>
                    <p>
                        <span style="font-weight: 400">
                            The uses described in these Terms are prohibited regardless of where on the Site they occur.
                            For example, the activities are prohibited in job posts, proposals.
                        </span>
                    </p>
                    <h4><b><b>1.1 Illegal, Fraudulent, Harmful, or Offensive Uses</b></b></h4>
                    <p>
                        You may not use, or encourage, promote, facilitate, or instruct or induce others to use,
                        the Site, Applications or Services for any activities that violate any law, statute, ordinance or regulation;
                        for any other illegal, fraudulent, harmful, or offensive purpose; or to transmit, store, display,
                        distribute or otherwise make available content that is illegal, harmful, or offensive.
                    </p>
                    <p>
                        <span style="font-weight: 400">
                            Examples of prohibited uses of the Site or Site Services include:
                        </span>
                    </p>
                    <ul>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Seeking, offering, or endorsing illegal, obscene, or pornographic services or activities,
                                including services (i) that would violate the intellectual property rights, including copyrights,
                                of another person, entity, service, product, or website or (ii) that would involve the creation,
                                review, or editing of pornographic, erotic, obscene, or sexually explicit material;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Posting content that is offensive, defamatory, profane, vulgar, obscene,
                                threatening, discriminatory, illegal, pornographic, obscene or sexually explicit in nature;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Seeking, offering, or endorsing any services that would violate iCruits’s Terms of Service
                                or the terms of service of another website or any other contractual obligations;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Seeking, offering, or endorsing any services that violate the academic policies of any educational institution;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Expressing a preference in a job post or proposal or otherwise unlawfully discriminating on the basis of race,
                                religion, color, national origin, ancestry, physical or mental disability, medical condition,
                                genetic information, marital status, sex, gender, gender identity, gender expression, age,
                                sexual orientation, military/veteran status or any basis protected by applicable law;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Posting content that is harassing towards another person or violates the rights of a third party;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Posting identifying information concerning another person;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Making or demanding bribes;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Using any robot, spider, scraper, or other automated means to access the Site for any purpose
                                without our express written permission or collecting or harvesting any personally identifiable information,
                                including any Account information, Job Posts from the Site and Selling/Distributing Applications;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Engaging in any conduct that is reasonably likely to or that is intended to harm the Site,
                                including (i) imposing an unreasonable or disproportionately large load (in our sole discretion) on the
                                Site’s infrastructure; (ii) interfering or attempting to interfere with the proper operation of the
                                Site or Site Services or any activities conducted on the Site; (iii) bypassing any measures we may
                                use to prevent or restrict access to the Site or any subparts of the Site, including, without limitation,
                                features that prevent or restrict use or copying of any content or enforce limitations on use of the Site or the content therein;
                                or (iv) attempting to interfere with or compromise the system integrity or security or decipher any transmissions to or
                                from the servers running the Site.
                            </span>
                        </li>
                    </ul>
                    <h4><b><b>1.2 </b></b><b>Using the Site Other than For the Intended Purposes</b></h4>
                    <p>
                        iCruits makes the Site and Services available for Employers and Job Seekers to find one another by
                        applying to a job, entering simulation where Job Seeker perform and prove his values to the Employer relationship.
                        Users are expected to use the Site and Services for their intended purposes and Users may not use the Site and Services
                        in contravention of their intended purposes. The following are examples of prohibited use of the Site:
                    </p>
                    <ul>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Requesting, demanding, or receiving free services,
                                including requesting Freelancers to submit work as part of the proposal
                                process for very little or no money or posting contests in which Freelancers submit work with
                                no or very little pay, and only the winning submission is paid the full amount;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Posting the same job multiple times so that more than one version remains active at a given time;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Duplicating or sharing accounts;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Selling, trading, or giving an account to another person without iCruits’s consent;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Using Employer email to establish contact without completing full circle of iCruitment;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Soliciting outside of iCruits in violation of the Terms of Service;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Advertising products or services that are outside or beyond the scope of the iCruits marketplace;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Advertising on iCruits to join an Agency or another website or company without completing full circle of iCruitment.
                            </span>
                        </li>
                    </ul>
                    <h4><b><b>1.3 Using the Site to Post False or Misleading Content</b></b></h4>
                    <p>
                        All profiles, and jobs content posted to the Site must be truthful and not misleading. Here are examples of prohibited uses:
                    </p>
                    <ul>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Misrepresenting a Job Seeker’s information;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Impersonating any person or entity,
                                guide or host, or falsely stating or otherwise misrepresenting your affiliation with a person or entity;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Allowing another person to use your account, which is misleading to Employers.
                                And allowing another company to use your account, which is misleading to Job Seekers as well as direct violation of using iCruits Platform;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Falsely stating or implying a relationship with iCruits or with another company with whom you do not have a relationship;
                            </span>
                        </li>
                        <li style="font-weight: 400">
                            <span style="font-weight: 400">
                                Falsely stating that Job Seeker which applied for simulation will perform the work in simulator when another
                                will in fact perform the simulation.
                            </span>
                        </li>
                    </ul>
                    <h3><b><b>2. ENFORCEMENT</b></b></h3>
                    <p>
                        We reserve the right, but do not assume the obligation, to investigate any violation of these Terms.
                        We may investigate violations and may remove, disable access to, or modify any content that violates these Terms.
                    </p>
                    <p>
                        <span style="font-weight: 400">
                            We may report any activity that we suspect violates any law or regulation to appropriate law
                            enforcement officials, regulators, or other appropriate third parties.
                            Our reporting may include disclosing appropriate User information.
                            We also may cooperate with appropriate law enforcement agencies, regulators, or other appropriate
                            third parties to help with the investigation and prosecution of illegal conduct by providing network and systems
                            information related to alleged violations of these Terms.
                        </span>
                    </p>
                    <h3><b><b>3. REPORTING AND CORRECTING VIOLATIONS</b></b></h3>
                    <p style="margin-bottom: 100px;">
                        If you become aware of any violation of these Terms, you must immediately report it to Customer Service.
                        You agree to assist us with any investigation we undertake and to take any
                        remedial steps we require in order to correct a violation of these Terms.
                    </p>
				</div>
			</div>
        </div>
    </div>
</section>
