/*
  Author: Aleksandar
  Version: 1.0
*/

/*************************
*******Typography******
**************************/

@charset "UTF-8";
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src:url('../fonts/fonts/icomoon/icomoon.eot?-9heso');
  src:url('../fonts/fonts/icomoon/icomoon.eot?#iefix-9heso') format('embedded-opentype'),
    url('../fonts/fonts/icomoon/icomoon.woff?-9heso') format('woff'),
    url('../fonts/fonts/icomoon/icomoon.ttf?-9heso') format('truetype'),
    url('../fonts/fonts/icomoon/icomoon.svg?-9heso#icomoon') format('svg');
}
menu {
    display: block
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}
body {
    font-family: "icomoon", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}
header {
  margin: 0;
}
.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
  color: #fff;
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
  font-weight: 300;
  color: #fff;
}

.btn {
  border: 0;
  border-radius: 0;
}

.btn.btn-primary:hover {
  background-color: #017fb5;
}

.navbar-nav li a:hover, 
.navbar-nav li a:focus {
  outline:none;
  outline-offset: 0;
  text-decoration:none;  
  background: transparent;
}

a {
  text-decoration: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}
/* NOT IMPORTANT
section {
  padding: 90px 0;
}
*/
.heading {
  padding-bottom:90px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #fff;
}

.preloader > i {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}


/*************************
********Home CSS**********
**************************/
#home-slider {
  overflow: hidden;
  position: relative;
}

#home-slider .caption {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#home-slider .caption h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding:14px 40px;
  border: 1px solid #6e6d6c;
  border-radius: 4px;
  margin-top: 40px;
}

.btn-start:hover {
  color: #fff
}

.carousel-inner {
   background-image: url(/static/img/slider/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   height: 100%;
   width: 100%;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.left-control, .right-control {
  position: absolute;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 48px;
  border-radius: 50%;
  border:1px solid #fff;  
  z-index: 20;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.left-control {
  left: -51px
} 

.right-control {
  right: -51px;
}

.left-control:hover, 
.right-control:hover {
  color: #fff;
}

#home-slider:hover .left-control {
  left:30px
} 

#home-slider:hover .right-control {
  right:30px
}

#home-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}

.navbar-right li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-right li.active a {
  background-color: rgba(0,0,0,.2);
}

.navbar-brand h1 {
  margin-top: 5px;
}

/*************************
********Service CSS*******
**************************/

.service-icon {
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 36px;
  height: 90px;
  line-height: 90px;
  width: 90px;  
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.our-services .col-sm-4:hover .service-icon {
  background-color: #333;
}

.our-services .col-sm-4 {
  border-right:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
  padding-bottom: 50px;
}

.our-services .col-sm-4:nth-child(4), 
.our-services .col-sm-4:nth-child(5), 
.our-services .col-sm-4:nth-child(6) {
  border-bottom:0;
  padding-top: 60px;
}

.our-services .col-sm-4:nth-child(3), 
.our-services .col-sm-4:nth-child(6) {
  border-right:0;
}

.service-info h3 {
  margin-top: 35px;
}

/*************************
********About CSS*******
**************************/
#about-us {
  padding: 90px 0;
  background-image: url(../../img/about-bg.jpg);
}

#about-us h2 {
  margin-top: 0;
  color: #fff;
}

#about-us .lead {
  font-size: 16px;
  margin-bottom: 10px;
}

#about-us h1 {
  margin-bottom: 30px;
}

.progress{
  height: 20px;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 25px;
}

.progress-bar{
  box-shadow: none;
  -webkit-box-shadow: none;
  text-align: right;
  padding-right: 12px;
  font-size: 12px;
  font-weight: 600;
}


.progress .progress-bar.six-sec-ease-in-out {
  -webkit-transition: width 2s ease-in-out;
  transition:  width 2s ease-in-out;
}

/*************************
********portfolio CSS*****
**************************/

#portfolio .container-fluid, 
#portfolio .col-sm-3  {
  overflow: hidden;
  padding: 0;
}

#portfolio .folio-item {
  position: relative;
}

#portfolio .overlay {
  background-color: #000;
  color: #fff; 
  left: 0;
  right:0;
  bottom:-100%;
  height: 0;
  position: absolute;
  text-align: center;
  opacity:0;  
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.overlay .overlay-content {
  display: table;
  height: 100%;
  width: 100%;
}

.overlay .overlay-text {
  display: table-cell;
  vertical-align: middle;
}

.overlay .folio-info {
  opacity: 0;
  margin-bottom: 75px;
  margin-top: -75px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.overlay .folio-info h3 {
  margin-top: 0;
  color: #fff;
}

.folio-overview a {
  font-size: 18px;
  color: #333;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
}

.folio-overview a:hover {
  color: #fff;
}

.folio-overview .folio-expand {
  margin-top: -500px;
  margin-left: -500px;
}

.folio-image, .folio-overview .folio-expand {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#portfolio .folio-item:hover .folio-image {
  -webkit-transform: scale(1.5) rotate(-15deg);
  transform: scale(1.5) rotate(-15deg);
}

.folio-image img {
  width: 100%;
}

#portfolio .folio-item:hover .overlay {
  opacity: 0.8;
  bottom: 0;
  height: 100%;
}

#portfolio .folio-item:hover .folio-overview .folio-expand {
  margin-top: 0;
  margin-left:0;
}

#portfolio .folio-item:hover .overlay .folio-info {
  opacity: 1;  
  margin-bottom:0;
  margin-top:0;
}


#single-portfolio {
  padding: 90px 0;
  background: #f5f5f5;
  position: relative;
}

#single-portfolio img {
  width: 100%;
  margin-bottom: 10px;
}

#single-portfolio .close-folio-item {
  position: absolute;
  top: 30px;
  font-size: 34px;
  width: 34px;
  height: 34px;
  left: 50%;
  color: #999;
  margin-left: -17px;
}

/*************************
*********Team CSS*********
**************************/
#team {
  padding-top: 0;
}

.team-members {
  margin-bottom: 25px;
}

.social-icons {
  margin-top:30px;
  text-align: center;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a {
  color:#fff;
  background-color: #d9d9d9;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}

.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.team-member {
  text-align: center;
  color: #333;
  font-size: 14px;
}

.team-member:hover .social-icons ul li a.facebook {
  background-color: #3b5999;
}
.team-member:hover .social-icons ul li a.twitter {
  background-color: #2ac6f7;
}
.team-member:hover .social-icons ul li a.dribbble {
  background-color: #ff5b92;
}
.team-member:hover .social-icons ul li a.linkedin {
  background-color: #036dc0;
}
.team-member:hover .social-icons ul li a.rss {
  background-color: #ff6b00;
}

#team .img-responsive {
  width: 100%;
}

.member-info h3 {
  margin-top: 35px;
}

.member-info h4 {
  font-size: 14px;
  margin-bottom: 15px;
  color: #999;
}


/*************************
*******Features CSS*******
**************************/
#features {
  text-align: center;
  background-image: url(../images/features-bg.jpg);
}

#features i {
  font-size: 48px;
}

#features h3 {
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 7px;
  color: #fff;
}

#features .slider-overlay {
  opacity: 0.8;
}


/*************************
*****Pricing Table CSS****
**************************/
.pricing-table {
  text-align: center;
}

.single-table {
  padding: 30px 20px 20px;
  border:1px solid #f2f2f2;
}

.single-table h3 {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.price {
  font-size: 36px;
  line-height: 36px;
}

.price span {
  font-size: 14px;
  line-height: 14px;
}

.single-table ul {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

.single-table ul li {
  line-height: 30px;
}

.single-table.featured {  
  color: #fff;
}

.single-table.featured h3 { 
  color: #fff;
}

.single-table.featured .btn.btn-primary {
  background-color: #fff;
}

/*************************
********jobDetail CSS*******
**************************/
#jobDetail {
  /*background-image: url(../../img/jobDetail-bg.jpg);*/
  margin-top: 50px;
}

#jobDetail > div {
  text-align: center;
  position: relative;
}

#jobDetail-carousel {
  position: relative;
  z-index: 15
}

.twitter-icon {
  position: relative;
  z-index: 15;
  color: #fff;
}

.twitter-icon .fa-twitter {
  font-size: 24px;
  height: 64px;
  width: 64px;
  line-height: 65px;
  border-radius: 50%; 
  position: relative;
}

.twitter-icon .fa-twitter:after {
  position: absolute;
  content: "";
  border-width: 8px;
  border-style: solid;
  left: 24px;
  bottom: -14px;
}

#jobDetail-carousel .item {
  padding: 0 55px;
}

#jobDetail-carousel .item a {
  color: #fff;
}

.jobDetail-icon h4 {
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fff;
}

.jobDetail-left-control, 
.jobDetail-right-control {
  position: absolute;
  top: 50%;
  color: #028fcc;
  border: 1px solid #028fcc;
  height:34px;
  width: 34px;
  line-height: 31px;
  margin-top: -17px;
  font-size: 18px;
  border-radius: 50%;
  z-index: 15
}

.jobDetail-left-control {
  left: 80px;
} 

.jobDetail-right-control {
  right: 80px
}

.jobDetail-left-control:hover, .jobDetail-right-control:hover {
  color: #000;
}


/*************************
**********Blog CSS********
**************************/

.post-thumb {
  position: relative;
}

.post-icon {
  position: absolute;
  top:10px;
  right:10px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius:4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.post-meta {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.post-meta span {
  margin-right: 16px;
}

#post-carousel .carousel-indicators {
  bottom: 3px;
  left: 90%;
}

.blog-left-control, .blog-right-control {
  position: absolute;
  top: 45%;
  width: 30px;
  text-align: center;
  color: rgba(255,255,255,.7);
  font-size: 36px;
}

.blog-left-control {
  left: 0;
}

.blog-right-control {
  right: 0;
}

.blog-left-control:hover, .blog-right-control:hover {
  color: #fff;  
}

.entry-header h3 a {
  line-height: 30px;
}

.entry-header .date, 
.entry-header .cetagory {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
}

.entry-header .date:after {
  content: "";
  position: absolute;
  left: 0;
  bottom:-22px;
  width: 20px;
  height: 3px;
}

.entry-content {
  font-size: 14px;
}

.load-more {
  display:block;
  text-align: center;
  margin-top: 70px;
}

.btn-loadmore {
  border: 1px solid #f2f2f2;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 125px;
  text-transform: uppercase;
}

.btn-loadmore:hover {
  color:#fff;
}

/*************************
**********Contact CSS*****
**************************/

#contact {
  padding-top: 45px;
  padding-bottom: 0;
}

#google-map {
  height: 350px;
}

#contact-us {
  background-image:url(../images/contact-bg.jpg);
  padding-bottom: 90px; 
}

#contact-us .heading {
  padding-top: 95px;
}

.form-control {
  background-color: transparent;
  border-color: rgba(255,255,255,.1);
  height: 50px;
  border-radius: 0;
  box-shadow: none;
}

textarea.form-control {
  min-height: 180px;
  resize:none;
}

.form-group {
  margin-bottom: 30px;
}

.contact-info {
  padding-left:70px;
  font-weight: 300;
}

ul.address {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info ul li {
  margin-bottom: 8px;
}

.contact-info ul li a {
  color: #fff;
}

.btn-submit {
  display: block;
  padding: 12px;
  width: 100%;
  color: #fff;
  border:0;
  margin-top: 40px;
}

#footer {
  color:#fff;
}

.footer-top {
  position: relative;
  padding:30px 0
}

#footer .footer-bottom {
  background-color: #fff;
  padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 5px;
}

#footer .social-icons {
  margin-top: 15px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .social-icons ul li a {
  background-color: rgba(0,0,0,.2);
  border-radius: 4px;
  line-height: 33px;
}

#footer .social-icons ul li a:hover {
  color: #fff
}

#footer .social-icons ul li a.envelope:hover {
  background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}
#footer .social-icons ul li a.twitter:hover {
  background-color: #2ac6f7;
}
#footer .social-icons ul li a.dribbble:hover {
  background-color: #ff5b92;
}
#footer .social-icons ul li a.linkedin:hover {
  background-color: #036dc0;
}
#footer .social-icons ul li a.tumblr:hover {
  background-color: #ff6b00;
}

/*Presets*/

.contentLogin {
  font-size: 150%;
  padding: 3em 0;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #028fcc;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.bgcolor-blue { 
  background: #2fa8ec; 
  color: #fff;
}

.input--juro {
  overflow: hidden;
}

.input__field--juro {
  position: absolute;
  z-index: 100;
  padding: 2.15em 0.75em 0;
  width: 100%;
  background: transparent;
  color: #1784cd;
  font-size: 0.85em;
}

.input__label--juro {
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: left;
}

.input__label-content--juro {
  padding: 2em 1em;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s;

  text-rendering: geometricPrecision;
}

.input__label--juro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  -webkit-transition: border-width 0.3s, border-color 0.3s;
  transition: border-width 0.3s, border-color 0.3s;
}

.input__field--juro:focus + .input__label--juro::before,
.input--filled .input__label--juro::before {
  border-width: 8px;
  border-color: #1784cd;
  border-top-width: 2em;
}

.input__field--juro:focus + .input__label--juro .input__label-content--juro,
.input--filled .input__label--juro .input__label-content--juro {
  color: #fff;
  -webkit-transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
}


/*clearfixes*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
.containerSub {
    position: relative;
    width: 100%;
}

.containerSub:last-of-type {
    padding-top: 0px;
    width: 100%;
}

/*animation element*/

.animation-element {
    /*position: relative;*/
    width: 99.33333333%;
    display: inline-block;
}

/*3 grid layout*/

.animation-element:nth-of-type(3n-2) {
    width: 99.33333333%;
    clear: left;
}

.animation-element:nth-of-type(3n-1) {
    width: 99.33333333%;
}

.animation-element:nth-of-type(3n-0) {
    width: 99.33333333%;
    clear: right;
}
/*bounce up animation for the subject*/

.bounce-up .subject {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bounce-up.in-view .subject {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.subject {
    width: 100%;
    background: #ffffff;
}
.subject .content {
    margin-bottom: 8px;
    color: #0f0f0f;
}
.content li {
    color: #0f0f0f;
}

/*animation element sliding left*/

.animation-element.slide-left {
    opacity: 0;
    -moz-transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    -moz-transform: translate3d(-100px, 0px, 0px);
    -webkit-transform: translate3d(-100px, 0px, 0px);
    -o-transform: translate(-100px, 0px);
    -ms-transform: translate(-100px, 0px);
    transform: translate3d(-100px, 0px, 0px);
}
.animation-element.slide-left.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.animation-element.slide-left.welcome {
    width: 100%;
    margin: 0% 1.5% 3% 1.5%;
    background: #ffffff;
    padding: 15px;
}

.animation-element.slide-left.welcome:nth-of-type(odd) {
    width: 98.5%;
    margin: 0% 1.5% 3.0% 0%;
}

.animation-element.slide-left.welcome:nth-of-type(even) {
    width: 98.5%;
    margin: 0% 0% 3.0% 1.5%;
}

.animation-element.slide-left.welcome .header{
    width: 100%;
    margin-top: 25px;
}
.animation-element.slide-left.welcome .content {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 33px;
    margin-top: 15px;
}

/*
VERY IMPORTANT!!!!
*/
.hide_index {
    display: none;
}
/*
   MENU BUTTON FOR SMALL OFFCANVAS SCREEN
 */
.menu:hover span.label {
  opacity: 1;
    visibility: visible;
    transition: all 250ms cubic-bezier(.55,.085,.68,.53);
    z-index: 999999999;
}
html.no-touchevents .menu:hover span.label {
    left: 56px
}

.menu-white:hover span.label {
  opacity: 1;
    visibility: visible;
    transition: all 250ms cubic-bezier(.55,.085,.68,.53);
    z-index: 999999999;
}
html.no-touchevents .menu-white:hover span.label {
    left: 56px
}
.menu {
    display: block;
    position: absolute;
    text-decoration: none;
    background: center center no-repeat rgba(255,255,255,0);
    padding: 0;
    outline: 0;
    text-indent:-9999px;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.menu-white {
    display: block;
    position: absolute;
    text-decoration: none;
    background: center center no-repeat rgba(255,255,255,0);
    padding: 0;
    outline: 0;
    text-indent:-9999px;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.menu span.label{
    display: block;
    position: absolute;
    font-family: Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .1875rem;
    text-indent: 0;
    text-rendering: auto;
    -webkit-font-smoothing: initial;
    height: 52px;
    line-height: 52px;
    padding: 0;
    margin: 0;
    background: rgba(255,255,255,0);
    opacity: 0;
    visibility: hidden;
    color: #1D1D1F;
    transition: all 250ms cubic-bezier(.25,.46,.45,.94)
}

.menu-white span.label{
    display: block;
    position: absolute;
    font-family: Arial,Helvetica;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .1875rem;
    text-indent: 0;
    text-rendering: auto;
    -webkit-font-smoothing: initial;
    height: 52px;
    line-height: 52px;
    padding: 0;
    margin: 0;
    background: rgba(255,255,255,0);
    opacity: 0;
    visibility: hidden;
    color: #1D1D1F;
    transition: all 250ms cubic-bezier(.25,.46,.45,.94)
}

.menu-white {
    background-image:url(../../img/menu-white.png);
    width:72px;
    height:52px;
    background-size:18px 14px;
    transition:opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    opacity:1
}
.menu-white.hide{
    visibility: visible;
    display: block!important;
    opacity: 0
}

.menu-white span.label{
    left: 52px;
    top: 0
}

.menu {
    width:72px;
    height:52px;
    background-size:18px 14px;
    transition:opacity 400ms cubic-bezier(.645,.045,.355,1) 250ms,left .4s cubic-bezier(.25,.46,.45,.94);
    background-image:url(../../img/menu.svg);
    opacity:1
}

.menu.hide{
    visibility: visible;
    display: block!important;
    opacity: 0
}

.menu span.label{
    left: 52px;
    top: 0
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #028fcc;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.overlay-offcanvas {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999999999999;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-offcanvas-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  display: inline;
}

.overlay-offcanvas a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay-offcanvas a:hover, .overlay-offcanvas a:focus {
    color: #f1f1f1;
}

.overlay-offcanvas .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.myMenu {
    font-size: 30px;
    cursor: pointer;
}

.circle-list-img-small {
    margin: 0 auto;
    top: 100px;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 250px;
    border-radius: 250px;
    background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    transition: all 0.5s;
}


.circle-list-img-medium {
    margin: 0 auto;
    top: 100px;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
}

.text-image {
   position: relative;
   width: 100%; /* for IE 6 */
}

.btn-slide {
  color: #028fcc;
  cursor: pointer;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 45px;
  max-width: 260px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 400px) {
  .btn-slide {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btn-slide:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btn-slide:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btn-slide:nth-of-type(5) {
    margin-right: 0;
  }
}

.btn-1 {
  font-weight: 100;
}
.btn-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}
.btn-1 rect {
  fill: none;
  stroke: #028fcc;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.btn-1:hover {
  color: #000000;
  background: rgba(225, 51, 45, 0);
  letter-spacing: 2px;
  font-weight: 1300;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 115, 410;
  stroke-dashoffset: 148;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-white {
  font-weight: 100;
}
.btn-white svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}
.btn-white rect {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.btn-white:hover {
  color: #028fcc;
  background: rgba(225, 51, 45, 0);
  letter-spacing: 2px;
  font-weight: 1300;
}
.btn-white:hover rect {
  stroke-width: 5;
  stroke-dasharray: 115, 410;
  stroke-dashoffset: 148;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-white-slide {
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 45px;
  max-width: 260px;
  margin: 0 auto 2em;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 400px) {
  .btn-white-slide {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btn-white-slide:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btn-white-slide:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btn-white-slide:nth-of-type(5) {
    margin-right: 0;
  }
}

.login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:800px;
    position:relative;
}
.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#028fcc;
    border-color:#1161ee;
}
.login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label{
    color:#aaa;
    font-size:12px;
}
.login-form .group .button{
    background:#1161ee;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
}

.top-right-btn {
    top: 10px;
    right: 10px;
    position: absolute;
}

.tab-nav {
    width: 100%;
    display: inline-block;
}
.tab-nav a {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 50%;
}
.tab-nav:focus span {
    color: #028fcc;
}
.tab-nav-image {
    height: 53px;
    width: 53px;
}
.tab-nav span.active {
    font-size: 26px;
    color: #028fcc;
    background: #ffffff;
}

.tab-content {
    padding-top: 20px;
}
.tab-content .tab {
    display: none;
}
.tab-content .tab.active {
    display: block;
}

.nav-tab {
  color: #028fcc;
  font-size: 16px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  position: absolute;
  text-transform: uppercase;
  vertical-align: middle;
  max-width: 360px;
}
@media (min-width: 400px) {
  .nav-tab {
    display: inline-block;
    margin-right: 2.5em;
  }
  .nav-tab:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .nav-tab:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .nav-tab:nth-of-type(5) {
    margin-right: 0;
  }
}

.myNavtab {
  font-weight: 100;
}
.myNavtab svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}
.myNavtab rect {
  fill: none;
  stroke: #028fcc;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.myNavtab:hover {
  color: #000000;
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 1300;
}
.myNavtab:hover rect {
  stroke-width: 5;
  stroke-dasharray: 115, 410;
  stroke-dashoffset: 148;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}


/*
LOGIN FORM
 */
.simform {
  margin-top: 60px;
  padding: 2em 0;
  max-width: 530px;
  width: 100%;
  text-align: left;
  font-size: 2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.simform .submit {
  display: none;
}

/* Question list style */
.simform ol {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
}

.simform ol:before {
  content: '';
  background-color: rgba(0,0,0,0);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.35em;
}

.questions li {
  z-index: 100;
  position: relative;
  visibility: hidden;
  height: 0;
  -webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
  transition: visibility 0s 0.4s, height 0s 0.4s;
}

.questions li.current,
.no-js .questions li {
  visibility: visible;
  height: auto;
  -webkit-transition: none;
  transition: none;
}

/* Labels */
.questions li > span {
  display: block;
  overflow: hidden;
}

.questions li > span label {
  display: block;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  color: rgba(30, 135, 209, 0.87);
}

.questions li.current > span label,
.no-js .questions li > span label {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.show-next .questions li.current > span label {
  -webkit-animation: moveUpFromDown 0.4s both;
  animation: moveUpFromDown 0.4s both;
}

@-webkit-keyframes moveUpFromDown {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(0); }
}

@keyframes moveUpFromDown {
  from { -webkit-transform: translateY(100%); transform: translateY(100%); }
  to { -webkit-transform: translateY(0); transform: translateY(0); }
}

/* Input field */
.questions input {
  display: block;
  margin: 0 0 0 0;
  padding: 0.5em 1em 0.5em 0.7em;
  width: calc(80% - 2em);
  border: 1px solid rgba(30, 135, 209, 0.87);
  border-radius: 2px;
  background-color: #ffffff;
  color: #222;
  font-size: 1em;
  line-height: 1;
  opacity: 0;
  left: 10%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.questions .current input,
.no-js .questions input {
  opacity: 1;
}

.questions input:focus {
    outline: none;
  color: rgba(30, 135, 209, 0.87);
  border-color: rgba(30, 135, 209, 0.87);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000000;
  width: calc(99% - 2em);
  -webkit-transition: width 0.5s;
  transition: width 0.5s;

}

.simform button:focus {
  outline: none;
}

/* Next question button */
.next {
  position: absolute;
  right: 0;
  bottom: 2.15em; /* padding-bottom of form plus progress bar height */
  display: block;
  padding: 0;
  width: 100px;
  height: 100px;
  border: none;
  background: none;
  color: rgba(30, 135, 209, 0.87);
  text-align: center;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.next:hover {
  color: rgb(255, 255, 255);
}

.next::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "\e600";
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'icomoon';
  line-height: 2;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.next.show {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  pointer-events: auto;
}

/* Progress bar */
.simform .progress {
  width: 0%;
  height: 0.15em;
  background: rgba(30, 135, 209, 0.88);
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.simform .progress:before {
  position: absolute;
  top: auto;
  width: 100%;
  height: inherit;
  background: rgba(0,0,0,0.05);
  content: '';
}

/* Number indicator */
.simform .number {
  position: absolute;
  right: 0;
  overflow: hidden;
  margin: 0.4em 0;
  width: 3em;
  font-weight: 700;
  font-size: 0.4em;
  color: rgba(30, 135, 209, 0.87);
}

.simform .number:after {
  position: absolute;
  left: 50%;
  content: '/';
  opacity: 0.4;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.simform .number span {
  float: right;
  width: 40%;
  text-align: center;
}

.simform .number .number-current {
  float: left;
  color: rgb(255, 255, 255);
}

.simform .number-next {
  position: absolute;
  left: 0;
}

.simform.show-next .number-current {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.simform.show-next .number-next {
  -webkit-animation: moveUpFromDown 0.4s both;
  animation: moveUpFromDown 0.4s both;
}

/* Error and final message */
.simform .error-message,
.simform .final-message {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.simform .error-message {
  padding: 0.4em 3.5em 0 0;
  width: 100%;
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 0.5em;
}

.final-message {
  top: 50%;
  left: 0;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.error-message.show,
.final-message.show {
  visibility: visible;
  opacity: 1;
}

.final-message.show {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* Final hiding of form / showing message */
.simform-inner.hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

/* No JS Fallback */
.no-js .simform {
  font-size: 1.75em;
}

.no-js .questions li {
  padding: 0 0 2em;
}

.no-js .simform .submit {
  display: block;
  float: right;
  padding: 10px 20px;
  border: none;
  background: rgba(0,0,0,0.3);
  color: rgba(0,0,0,0.4);
}

.no-js .simform .controls {
  display: none;
}
