    <div class="container-wrap">
        <!--div class="menu-wrap">
            <nav id="sidemenu" class="menu" ng-controller='LogoutCtrl'>
                <div class="icon-list">
                    <h3>Menu</h3>
                    <a data-ui-sref="root.dashboard" class="menu-item-dashboard">Dashboard</a>
                    <a data-ui-sref="root.help" class="menu-item-help">Help</a>
                    <!--a href="#" ng-show="user.profile_type.account_type == 'Employer'" class="menu-item-blueprint">Blueprint</a-->
                    <!--a href="" class="menu-item-blueprint">Blueprint</a>
                    <a href="" ng-click="logoutNow()" class="menu-item-logout">Logout</a>
                </div>
            </nav>
        </div>
        <span id="open-button" class="menu-white"><span class="label" style="color: rgb(0,0,0);">MENU</span> </span-->

        <div class="content-wrap">
            <div class="content">
                <nav class="dashHeader text-center navbar navbar-default fixed top"><span>ICRUITS</span></nav>
                <section id="dashboard" style="margin-top: 75px;">
                  <div class="containerDetails">
                      <div class="half-container">
                          <img src="{{ blueprint.work_enviorment }}">
                      </div>
                      <div class="half-container">
                                <div>
                                  <div class="blueprint-name" data-ng-bind="blueprint.name" style="display: inline;"></div>
                                </div>
                                <div class="details-description">
                                    <div data-ng-bind="blueprint.description"></div>
                                    <p>description description description description description descri
                                    description description description description description des description description
                                    description description descriptiondescription description</p>
                                </div>
                                <div class="practice-info" style="margin-top: 2em;">
                                    <span><strong>Practice limit :  </strong></span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                </div>
                                <div class="practice-info">
                                    <span><strong>Max Queue :  </strong></span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                </div>
                                <div class="practice-info">
                                    <span><strong>Current Queue :  </strong></span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                </div>
                                <div class="practice-info">
                                    <span><strong>Visa Status :  </strong></span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                </div>
                                <div class="practice-info">
                                    <span><strong>Minimum Education :  </strong></span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                </div>
                                <div class="practice-info">                                
                                    <span><strong>Remote Work :  </strong></span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                </div>
                                <div class="practice-info">
                                    <span><strong>Salary Range :  </strong></span>
                                    <div class="square-info">
                                        <span data-ng-bind="job_salary.sal_range"></span>
                                    </div>
                                </div>
                                <div class="practice-info">
                                    <span><strong>Job Type :  </strong></span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                </div>
                                </div>
                                <a id="back-btn" data-ui-sref="root.dashboard">                                    
                                    <span id="advanced-span" class="show-button">
                                        Back
                                    </span>
                                    <span id="advanced-span-2" class="hover show-button">
                                        Back
                                    </span>
                                </a>
                                <a id="blueprint-btn" ng-show="user.profile_type">
                                    <span id="advanced-span" class="show-button">
                                        Apply
                                    </span>
                                    <span id="advanced-span-2" class="hover show-button">
                                        Apply
                                    </span>
                                </a>
                                <a id="blueprint-btn" ng-show="!user.profile_type">
                                    <span id="advanced-span" class="show-button">
                                        Apply Company
                                    </span>
                                    <span id="advanced-span-2" class="hover show-button">
                                        Apply Company
                                    </span>
                                </a>

                                <!--div class="practice-info-row-1">
                                    <span>Practice limit  </span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                    <span>Max Queue  </span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                    <span>Current Queue  </span>
                                    <div class="circle-info">
                                        <span>10</span>
                                    </div>
                                    <span>Visa Status  </span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                </div>
                                <div class="practice-info-row-2">
                                    <span>Minimum Education  </span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                    <span>Remote Work  </span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                    <span>Salary Range  </span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                    <span>Job Type  </span>
                                    <div class="square-info">
                                        <span>10</span>
                                    </div>
                                </div-->
                    </div>
                </section>
            </div>
        </div>
    </div>

<!--script type="text/javascript">
(function() {

    var bodyEl = document.body,
        content = document.querySelector( '.content-wrap' ),
        openbtn = document.getElementById( 'open-button' ),
        closebtn = document.getElementById( 'close-button' ),
        isOpen = false;

    /*var filterBtn = document.getElementById('filter-btn');*/


    function init() {
        initEvents();
    }

    function initEvents() {
        openbtn.addEventListener( 'click', toggleMenu );
        if( closebtn ) {
            closebtn.addEventListener( 'click', toggleMenu );
        }

        // close the menu element if the target it´s not the menu element or one of its descendants..
        content.addEventListener( 'click', function(ev) {
            var target = ev.target;
            if( isOpen && target !== openbtn ) {
                toggleMenu();
            }
        } );
    }

    function toggleMenu() {
        if( isOpen ) {
            classie.remove( bodyEl, 'show-menu' );
/*            classie.remove(filterBtn, 'hide-button');*/
            // animate path
        }
        else {
            classie.add( bodyEl, 'show-menu' );
/*            classie.add(filterBtn, 'hide-button');*/
            // animate path
        }
        isOpen = !isOpen;
    }

    function fixMenu() {
        classie.remove(bodyEl, 'show-menu');
        /* classie.remove(filterBtn, 'hide-button'); */
    }

    init();
    var fixer = true;
    if(fixer) {
        $(window.location).trigger("change", fixMenu());
        fixer = false;
    }

})();    
</script-->