<!-- JOBSEEKER DASHBOARD EXPERIENCE -->
<div class="container-wrap" ng-show="user.profile_type">
    <div class="menu-wrap">
        <nav id="sidemenu" class="menu">
            <a id="close-button-job" class="closebtn">&times;</a>
            <span class="label-close" style="color: rgb(255,255,255); margin-top: 4px; margin-right: 12px; font-size: 11px">CLOSE</span>
            <div class="icon-list">
                <h3>Filter</h3>
                <a type="button" class="menu-item" data-toggle="collapse" data-target="#industry">Industry Type</a>
                <div id="industry" class="collapse dropdown-fix">
                    <div ng-repeat="ind in industry_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterIndustry(ind.id)">
                            <span class="checkbox-label">{{ ind.type_industry }}</span></br/>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item" data-toggle="collapse" data-target="#location">Job Location</a>
                <div id="location" class="collapse dropdown-fix">
                    <div ng-repeat="loc in location_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterLocation(loc.id)"/>
                            <span class="checkbox-label">{{ loc.location }}</span></br/>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item" data-toggle="collapse" data-target="#Salary">Salary Range</a>
                <div id="Salary" class="collapse dropdown-fix">
                    <div ng-repeat="sal in salary_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterSalary(sal.id)"/>
                            <span class="checkbox-label">{{ sal.sal_range }}</span></br/>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item" data-toggle="collapse" data-target="#Experience">Experience Level</a>
                <div id="Experience" class="collapse dropdown-fix">
                    <div ng-repeat="exp in experience_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterExperience(exp.id)"/>
                            <span class="checkbox-label">{{ exp.experience_level }}</span></br/>
                        </label>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <span id="open-button" class="menu-white"><span class="label" style="color: rgb(0,0,0);">FILTER</span> </span>
    <a id="user-nav" class="userNav" onclick="openNav()"><i class="fa fa-user"></i></a>
    <!--div id="userContent" class="userContainer" ng-controller='LogoutCtrl'>
        <a id="btn-2" ng-click="logoutNow()" class="userNavBtn">Logout</a>
    </div-->

    <div class="content-wrap">
        <div class="content">
            <nav class="dashHeader text-center navbar navbar-default fixed top"><span>ICRUITS</span></nav>
            <section id="dashboard" style="margin-top: 75px;">
                <div class="containerSub cf">
                    <div class="row">
                        <div class="col-sm-3"
                             data-ng-repeat="JobFeed in blueprints | filter:industryFilter | filter:locationFilter | filter:salaryFilter | filter:experienceFilter">
                            <div class="job-item text-center">
                                <div class="hover-bg hover-bg-articles">
                                    <a data-ui-sref="root.blueprint({name_slug: JobFeed.blueprints[0].name_slug})">
                                        <!--img class="img-responsive"
                                                data-ng-src="{{ JobFeed.image }}" alt=""-->
                                        <div class="hover-text">
                                            <span class="lead" data-ng-bind="JobFeed.stacks[JobFeed.stacks.length - 1].candidate_position"></span>
                                        </div>
                                        <img class="img-circle img-thumbnail" src="">
                                        <span class="nohover center-block"
                                              style="padding-top: 110px;"
                                              data-ng-bind="JobFeed.blueprints[0].name">
                                        </span>
                                        <!--span class="nohover center-block"
                                              style="margin-top: 21px;"
                                              ng-if="JobFeed.is_published">
                                            Published
                                        </span>
                                        <span class="nohover center-block"
                                              style="margin-top: 21px;"
                                              ng-if="!JobFeed.is_published">
                                            Not Published
                                        </span-->
                                        <span class="hover company center-block"
                                              data-ng-bind="JobFeed.blueprints[0].company_name">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="filter-btn" ng-click="tupleAppliedJobs()" ng-if="show_new_jobs">
                    <span>
                        Applied Jobs
                    </span>
                    <span class="hover">
                        Applied Jobs
                    </span>
                </a>
                <a id="filter-btn" ng-click="tupleAppliedJobs()" ng-if="!show_new_jobs">
                    <span>
                        All Jobs
                    </span>
                    <span class="hover">
                        All Jobs
                    </span>
                </a>
                <a id="filter-btn" ng-click="tupleICruitedJobs()"
                   style="right: 180px;"
                   ng-if="show_new_jobs_icruited">
                    <span>
                        iCruited Jobs
                    </span>
                    <span class="hover">
                        iCruited Jobs
                    </span>
                </a>
                <a id="filter-btn" ng-click="tupleICruitedJobs()"
                   style="right: 180px;"
                   ng-if="!show_new_jobs_icruited">
                    <span>
                        All Jobs
                    </span>
                    <span class="hover">
                        All Jobs
                    </span>
                </a>
                <a id="filter-btn" ng-click="tupleInterviewJobs()"
                   style="right: 360px;"
                   ng-if="show_new_jobs_interview">
                    <span>
                        Interview for Job
                    </span>
                    <span class="hover">
                        Interview for Job
                    </span>
                </a>
                <a id="filter-btn" ng-click="tupleInterviewJobs()"
                   style="right: 360px;"
                   ng-if="!show_new_jobs_interview">
                    <span>
                        All Jobs
                    </span>
                    <span class="hover">
                        All Jobs
                    </span>
                </a>
                <a id="filter-btn" ng-click="tupleHiredJobs()"
                   style="left: 0px;"
                   ng-if="show_hired_jobs">
                    <span>
                        Hired Jobs
                    </span>
                    <span class="hover">
                        Hired Jobs
                    </span>
                </a>
                <a id="filter-btn" ng-click="tupleHiredJobs()"
                   style="left: 0px;"
                   ng-if="!show_hired_jobs">
                    <span>
                        All Jobs
                    </span>
                    <span class="hover">
                        All Jobs
                    </span>
                </a>
                <!--a id="filter-btn" style="right: 180px;"
                   ng-click="tupleJobsState()" ng-if="!show_closed_jobs">
                    <span>
                        Closed Jobs
                    </span>
                    <span class="hover">
                        Closed Jobs
                    </span>
                </a>
                <a id="filter-btn" style="right: 180px;"
                   ng-click="tupleJobsState()" ng-if="show_closed_jobs">
                    <span>
                        Opened Jobs
                    </span>
                    <span class="hover">
                        Opened Jobs
                    </span>
                </a-->
            </section>
        </div>
    </div>
</div>
<!-- END OF JOBSEEKER DASHBOARD EXPERIENCE -->

<!-- EMPLOYER DASHBOARD EXPERIENCE -->
<div class="container-wrap-emp" ng-show="!user.profile_type">
    <div class="menu-wrap-emp">
        <nav id="sidemenu-emp" class="menu-emp">
            <a id="close-button-emp" class="closebtn">&times;</a>
            <span class="label-close" style="color: rgb(255,255,255); margin-top: 4px; margin-right: 12px; font-size: 11px">CLOSE</span>
            <div class="icon-list-emp">
                <h3>Filter</h3>
                <a type="button" class="menu-item-emp" data-toggle="collapse" data-target="#location-emp">Job Location</a>
                <div id="location-emp" class="collapse dropdown-fix-emp">
                    <div ng-repeat="loc in location_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterLocation(loc.id)"/>
                            <span class="checkbox-label">{{ loc.location }}</span></br/>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item-emp" data-toggle="collapse" data-target="#Salary-emp">Salary Range</a>
                <div id="Salary-emp" class="collapse dropdown-fix-emp">
                    <div ng-repeat="sal in salary_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterSalary(sal.id)"/>
                            <span class="checkbox-label">{{ sal.sal_range }}</span></br/>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item-emp" data-toggle="collapse" data-target="#Experience-emp">Experience Level</a>
                <div id="Experience-emp" class="collapse dropdown-fix-emp">
                    <div ng-repeat="exp in experience_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterExperience(exp.id)"/>
                            <span class="checkbox-label">{{ exp.experience_level }}</span></br/>
                        </label>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!--div id="userContent" class="userContainer" ng-controller='LogoutCtrl'>
        <a id="btn-2" ng-click="logoutNow()" class="userNavBtn">Logout</a>
    </div-->
            <span id="open-button-emp" class="menu-white"><span class="label" style="color: rgb(0,0,0);">FILTER</span> </span>
            <a id="user-nav" class="userNav" onclick="openNav()"><i class="fa fa-user"></i></a>

    <div class="content-wrap-emp">
        <div class="content-emp">
            <nav class="dashHeader text-center navbar navbar-default fixed top"><span>ICRUITS</span></nav>
            <section id="dashboard" style="margin-top: 75px;">
                <div class="containerSub cf">
                    <div class="row">
                        <div class="col-sm-3"
                             data-ng-repeat="JobFeed in blueprints | filter:industryFilter | filter:locationFilter | filter:salaryFilter | filter:experienceFilter">
                            <div class="job-item text-center" ng-show="!show_closed_jobs">
                                <div class="hover-bg hover-bg-articles">
                                    <a data-ui-sref="root.blueprint({name_slug: JobFeed.name_slug})">
                                        <!--img class="img-responsive"
                                                data-ng-src="{{ JobFeed.image }}" alt=""-->
                                        <div class="hover-text">
                                            <span class="lead" data-ng-bind="JobFeed.max_queue"></span>
                                        </div>
                                        <img class="img-circle img-thumbnail" src="">
                                        <span class="nohover center-block"
                                              style="padding-top: 105px;"
                                              data-ng-bind="JobFeed.name">
                                        </span>
                                        <span class="nohover center-block"
                                              style="margin-top: 21px;"
                                              ng-if="JobFeed.is_published">
                                            Published
                                        </span>
                                        <span class="nohover center-block"
                                              style="margin-top: 21px;"
                                              ng-if="!JobFeed.is_published">
                                            Not Published
                                        </span>
                                        <span class="hover company center-block"
                                              data-ng-bind="JobFeed.company_name">
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="job-item text-center" ng-show="show_closed_jobs">
                                <div class="hover-bg hover-bg-articles">
                                    <a data-ui-sref="root.blueprint({name_slug: JobFeed.name_slug})">
                                        <!--img class="img-responsive"
                                                data-ng-src="{{ JobFeed.image }}" alt=""-->
                                        <div class="hover-text">
                                            <span class="lead" data-ng-bind="JobFeed.max_queue"></span>
                                        </div>
                                        <img class="img-circle img-thumbnail" src="">
                                        <span class="nohover center-block"
                                              style="padding-top: 105px;"
                                              data-ng-bind="JobFeed.name">
                                        </span>
                                        <span class="nohover center-block"
                                              style="margin-top: 21px;"
                                              ng-if="JobFeed.is_closed">
                                            Closed Job
                                        </span>
                                        <span class="hover company center-block"
                                              data-ng-bind="JobFeed.company_name">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="filter-btn" onclick="openBigNav()">
                    <span>
                        Create Blueprint
                    </span>
                    <span class="hover">
                        Create Blueprint
                    </span>
                </a>
                <a id="filter-btn" style="right: 180px;"
                   ng-click="tupleJobsState()" ng-if="!show_closed_jobs">
                    <span>
                        Closed Jobs
                    </span>
                    <span class="hover">
                        Closed Jobs
                    </span>
                </a>
                <a id="filter-btn" style="right: 180px;"
                   ng-click="tupleJobsState()" ng-if="show_closed_jobs">
                    <span>
                        Opened Jobs
                    </span>
                    <span class="hover">
                        Opened Jobs
                    </span>
                </a>
            </section>
        </div>
    </div>
</div>
<!-- END OF EMPLOYER DASHBOARD EXPERIENCE -->

<!-- FULLSCREEN CANVAS FOR CREATING BLUEPRINT -->
<div id="myNav" class="overlay-offcanvas">
    <a id="back-btn" class="hide-button" onclick="closeBigNav()">
        <span id="advanced-span" class="show-button">
            x
        </span>
        <span id="advanced-span-2" class="hover show-button">
            x
        </span>
    </a>
    <a id="apply-btn" class="hide-button" ng-click="createBlueprint()">
        <span id="apply-span" class="hide-button">
            Finish
        </span>
        <span id="apply-span-2" class="hover hide-button">
            Finish
        </span>
    </a>
    <div class="blueprintContainer">
        <div class="row" style="background-color: rgb(252, 252, 252); padding-top: 15px;">
            <span class="new blueprintLabel"> Blueprint Name </span>
            <input type="text" 
                   class="form-control blueprintInput blueprintName" 
                   name="name"
                   ng-model="make_blueprint.name"
                   required>
        </div>
        <!--hr class="hrTopTen"-->
        <div class="row" style="background-color: rgb(252, 252, 252); padding-top: 10px; padding-bottom: 10px;">
            <span class="new blueprintLabel"> Description </span>
            <textarea name="description" 
                   ng-model="make_blueprint.description"
                   class="blueprintDesc" rows="4" cols="50"></textarea>
        </div>
        <!--hr class="hrTopTen"-->
        <div class="row" style="background-color: rgb(245,245,245); padding-top: 15px;">
            <span class="new blueprintLabel"> Company Name </span>
            <input type="text" 
                   name="company name"
                   class="form-control blueprintInput blueprintCompany"
                   ng-model="make_blueprint.company_name"
                   required>
        </div>
        <div class="row" style="background-color: rgb(245,245,245);">
            <span class="new blueprintLabel"> Team ID </span>
            <input type="text" 
                   name="team id"
                   class="form-control blueprintTeamID"
                   ng-model="make_blueprint.team_id" 
                   required>
        </div>
        <!--hr class="hrTopTen"-->
        <div class="row" style="background-color: rgb(245,245,245); padding-bottom: 15px;">
            <span class="new blueprintLabel"> Industry </span>
            <select class="form-control blueprintInput" 
                    name="job_industry"
                    ng-model="make_blueprint.related_industry"
                    ng-options="option.id*1 as option.type_industry for option in industry_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel"> Employer Size </span>
            <select class="form-control blueprintInput" 
                    name="employer_size"
                    ng-model="make_blueprint.related_company_type"
                    ng-options="option.id*1 as option.types_of_company for option in company_type_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel marginBlueprint"> Job Function </span>
            <input type="text" 
                   name="job function"
                   class="form-control inputSizeFix"
                   ng-model="make_blueprint.function" 
                   required>
            <span class="new blueprintLabel"> Experience </span>
            <select class="form-control blueprintInput" 
                    name="experience info"
                    ng-model="make_blueprint.related_experience"
                    ng-options="option.id*1 as option.experience_level for option in experience_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel"> Location </span>
            <select class="form-control blueprintInput" 
                    name="location info"
                    ng-model="make_blueprint.related_location"
                    ng-options="option.id*1 as option.location for option in location_info">
                    <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel"> Job Type </span>
            <select class="form-control blueprintInput" 
                    name="job type"
                    ng-model="make_blueprint.related_job_type"
                    ng-options="option.id*1 as option.employment for option in job_type_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel"> Wait Interval </span>
            <select class="form-control blueprintInput" 
                    name="wait interval"
                    ng-model="make_blueprint.related_wait_interval"
                    ng-options="option.id*1 as option.response_time for option in wait_interval_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel marginBlueprint"> On Success </span>
            <select class="form-control blueprintInput" 
                    name="On success"
                    ng-model="make_blueprint.related_on_success"
                    ng-options="option.id*1 as option.success for option in on_job_success_info">
            <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel marginBlueprint"> Job Duration </span>
            <select class="form-control blueprintInput" 
                    name="job duration"
                    ng-model="make_blueprint.related_job_duration"
                    ng-options="option.id*1 as option.job_duration for option in job_duration_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel"> Salary Range </span>
            <select class="form-control blueprintInput" 
                    name="salary range"
                    ng-model="make_blueprint.related_salary"
                    ng-options="option.id*1 as option.sal_range for option in salary_info">
                <option value="" ng-show="false"></option>
            </select>
        </div>
        <!--hr class="hrTopTen"-->
        <div class="row" style="background-color: rgb(235,235,235); padding-top: 15px; padding-bottom: 5px;">
            <span class="new blueprintLabel"> Qualification </span>
            <input type="text" 
                   class="form-control blueprintInput inputSizeFix"
                   name="professional qualifications"
                   ng-model="make_blueprint.professional_qualifications"
                   required>
            <span class="new blueprintLabel"> Practice Limit </span>
            <input type="number" 
                   name="practice limit"
                   class="form-control inputSizeFix"
                   ng-model="make_blueprint.practice_limit" 
                   required>
            <span class="new blueprintLabel"> Remote Work </span>
            <input type="text" 
                   name="remote work"
                   class="form-control inputSizeFix"
                   ng-model="make_blueprint.remote_work" 
                   required>
            <span class="new blueprintLabel"> Visa Status </span>
            <select class="form-control blueprintInput" 
                    name="visa status"
                    ng-model="make_blueprint.related_visa_status"
                    ng-options="option.id*1 as option.visa for option in visa_status_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel"> Max Queue </span>
            <input type="number" 
                   name="max queue"
                   class="form-control inputSizeFix"
                   ng-model="make_blueprint.max_queue" 
                   required>
            <span class="new blueprintLabel"> Download Url </span>
            <input type="text" 
                   name="download url"
                   class="form-control inputSizeFix"
                   ng-model="make_blueprint.url" 
                   required>
        </div>
        <!--hr class="hrTopTen"-->
    </div>
    <div id="TasksBlueprint" class="blueprintTasksContainer" style="background-color: rgb(225,225,225); margin-bottom: 15px; padding-bottom: 10px;">
        <div id="hiddenTasks">
            <div id='tasks'>
                <span class="tasksLabel"> Blueprint Task </span>
                <select class='form-control blueprintTasksInput' 
                        id='selectTask' 
                        name='blueprint tasks'
                        ng-model='make_blueprint_tasks'
                        ng-options='option.id*1 as option.name for option in blueprint_tasks'>
                    <option value=''></option>
                </select>
                <div></div>
            </div>
            <div id='refs'>
                <span class="tasksLabel" style="padding-right: 25%;"> Employee </span>
                <span class='form-control blueprintRefsInput' data-toggle='dropdown'>Select</span>
                <ul class='dropdown-menu refsFix'>
                    <div ng-repeat="employee in desired_employees_info">
                        <label>
                            <input type='checkbox'
                                   id="expId"
                                   style="margin-left: 10px;"
                                   class='faChkSqr small'
                                   ng-click="addEmployeeId(employee.id)">
                            <span style="cursor: pointer;" data-ng-bind="employee.email"></span></br/>
                        </label>
                    </div>
                </ul>
            </div>
            <button class='btn rem-btn'>
                <span id='apply-span' class='apply-span'>
                    Remove
                </span>
                <span id='apply-span-2' class='hover hide-button'>
                    Remove
                </span>
            </button>
        </div>
        <div id="clonedTasks">

        </div>
    </div>
    <div id="TasksBlueprint" class="blueprintTasksContainer" style="background-color: rgb(225,225,225); margin-top: -20px; padding-top: 10px;">
        <div add-div-directive style="display: inline;"></div>
        <!--a class="btn add-btn"
           id="addNewRow" ng-click="clickToClone('hiddenTasks', 'clonedTasks')">
            <span id="apply-span">
                Add Task
            </span>
            <span id="apply-span-2" class="hover hide-button">
                Add Task
            </span>
        </a-->
        <a class="btn add-btn" onclick="openCreateTasks()">
            <span id="apply-span">
                Create Task
            </span>
            <span id="apply-span-2" class="hover hide-button">
                Create Task
            </span>
        </a>        
        <a class="btn add-btn" onclick="openCreateEmployee()">
            <span id="apply-span">
                Create Employee
            </span>
            <span id="apply-span-2" class="hover hide-button">
                Create Employee
            </span>
        </a>
    </div>
    <div class="blueprintContainer" style="margin-top: -10px;">
        <div class="row" style="background-color: rgb(215,215,215); padding-top: 10px;">
            <center>
                <div class="previewImage">
                    <img ngf-thumbnail="preview">
                </div>
                <a class="btn advanced-btn" ngf-select="upload($file)">
                    <span id="apply-span">
                        Add Work Environment
                    </span>
                    <span id="apply-span-2" class="hover hide-button">
                        Add Work Environment
                    </span>
                </a>
            </center>
        </div>
        <hr class="hrBotTen">
        <hr class="hrBotTen">
    </div>
</div>
<!-- END OF FULLSCREEN CANVAS FOR CREATING BLUEPRINT -->

<aside ng-if="no_employee_task_errors || no_task_errors || no_employee_errors || no_work_env_errors || field_errors"
       id="errorCanvas" class="displayError">
    <div class="captionError">Input fields error</div>
    <span class="blueprintError" ng-if="no_employee_task_errors" ng-bind="no_employee_task_error"></span>
    <span class="blueprintError" ng-if="no_task_errors" ng-bind="no_task_error"></span>
    <span class="blueprintError" ng-if="no_employee_errors" ng-bind="no_employee_error"></span>
    <span class="blueprintError" ng-if="no_work_env_errors" ng-bind="no_work_env_error"></span>
    <span class="blueprintError" ng-if="field_errors" ng-bind="field_error"></span>
    <a id="back-btn" ng-click="closeErrorCanvas()"
       style="display: block; margin-left: 5%;
       bottom: -14px; position: relative;">
        <span id="advanced-span" class="show-button">
            x
        </span>
        <span id="advanced-span-2" class="hover show-button">
            x
        </span>
    </a>
</aside>


<!-- CREATE TASK CANVAS -->
<aside id="createTask" class="createTask">
    <span class="tasksLabel"> Blueprint Task </span>
    <input class='form-control createTaskInput' 
           id='selectTask' 
           name='blueprint tasks' 
           ng-model='newBlueprintTask.name'> 
    <span class="tasksLabel" style="padding-top: 15px;"> Job Function </span>
    <!--select class='form-control createTaskInput' 
            id='selectTask' 
            name='blueprint tasks' 
            ng-model='newBlueprintTask.function' 
            ng-options='ooption.function as ooption.function for ooption in make_blueprint.function'>
        <option value='' ng-show='false'></option>
    </select-->
    <input class='form-control createTaskInput' 
           id='selectTask' 
           name='blueprint tasks' 
           ng-model='newBlueprintTask.function'> 
    <a class="btn add-btn" onclick="CreateTasks()"
       style="display: block; width: 40%;
       margin-left: 55%; margin-top: 15px;">
        <span id="apply-span">
            Create Task
        </span>
        <span id="apply-span-2" class="hover hide-button">
            Create Task
        </span>
    </a>     
    <a id="back-btn" onclick="closeCreateTasks()"
       style="display: block; margin-left: 5%;
       bottom: 55px; position: relative;">
        <span id="advanced-span" class="show-button">
            x
        </span>
        <span id="advanced-span-2" class="hover show-button">
            x
        </span>
    </a>
</aside>
<!-- END OF CREATE TASK CANVAS -->


<!-- CREATE EMPLOYEE CANVAS -->
<aside id="createEmployee" class="createEmployee">
    <span class="tasksLabel"> First Name </span>
    <input class='form-control createTaskInput' 
           id='selectTask' 
           type="text" 
           name='blueprint tasks' 
           ng-model='desiredEmployee.first_name' 
           style="margin-top: 15px; width: 90%; margin-left: 5%;">
    <span class="tasksLabel" style="padding-top: 10px;"> Last Name </span>
    <input class='form-control createTaskInput' 
           id='selectTask' 
           name='blueprint tasks' 
           type="text" 
           ng-model='desiredEmployee.last_name' 
           style="margin-top: 15px; width: 90%; margin-left: 5%;">
    <span class="tasksLabel" style="padding-top: 10px;"> Email </span>
    <input class='form-control createTaskInput' 
           id='selectTask'
           type="text"  
           name='blueprint tasks' 
           ng-model='desiredEmployee.email' 
           style="margin-top: 15px; width: 90%; margin-left: 5%;">           
    <span class="tasksLabel" style="padding-top: 10px;"> Phone Number </span>
    <input class='form-control createTaskInput' 
           id='selectTask'
           type="text"  
           name='blueprint tasks' 
           ng-model='desiredEmployee.phone_number' 
           style="margin-top: 15px; width: 90%; margin-left: 5%;">

    <a class="btn add-btn" onclick="CreateEmployee()"
       style="display: block; width: 40%;
       margin-left: 55%; margin-top: 15px;">
        <span id="apply-span">
            Create Employee
        </span>
        <span id="apply-span-2" class="hover hide-button">
            Create Employee
        </span>
    </a>     
    <a id="back-btn" onclick="closeCreateEmployee()"
       style="display: block; margin-left: 5%;
       bottom: 55px; position: relative;">
        <span id="advanced-span" class="show-button">
            x
        </span>
        <span id="advanced-span-2" class="hover show-button">
            x
        </span>
    </a>
</aside>
<!-- END OF CREATE EMPLOYEE CANVAS -->

<!-- SMALL CANVAS MENU -->
<aside id="sidenav" class="sidenav" ng-controller='LogoutCtrl'>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <span class="label-close" style="color: rgb(255,255,255); margin-top: 3px; margin-right: 12px;">CLOSE</span>
    <div class="">
        <h3 data-ng-bind="user.username"></h3>
    </div>
    <!--a data-ui-sref="root.dashboard">Dashboard</a-->
    <a data-ui-sref="root.profile" data-ng-class="{active: state.includes('root.profile')}" class="menu-item" style="padding-top: 40px;">Profile</a>
    <a href='' class="menu-item" ng-click="logoutNow()">Logout</a>
</aside>
<!-- END OF SMALL CANVAS MENU -->

<script type="text/javascript">

    var bodyEl = document.body,
        content = document.querySelector( '.content-wrap' ),
        content_emp = document.querySelector( '.content-wrap-emp' ),
        openbtn = document.getElementById( 'open-button' ),
        openbtn_emp = document.getElementById( 'open-button-emp' ),
        closebtn = document.getElementById( 'close-button-job' ),
        closebtn_emp = document.getElementById( 'close-button-emp' ),
        isOpen = false,
        isOpenEmp = false,
        filterBtn = document.getElementById('filter-btn');

    function init() {
        initEvents();
    }

    function initEvents() {
        openbtn_emp.addEventListener( 'click', toggleMenuEmp );
        if( closebtn_emp ) {
            closebtn_emp.addEventListener( 'click', toggleMenuEmp );
        }
        openbtn.addEventListener( 'click', toggleMenu );
        if( closebtn ) {
            closebtn.addEventListener( 'click', toggleMenu );
        }

        // close the menu element if the target it´s not the menu element or one of its descendants..
        content.addEventListener( 'click', function(ev) {
            var target = ev.target;
            if (isOpen && target !== openbtn) {
                toggleMenu();
            }
        });
        content_emp.addEventListener( 'click', function(ev) {
            var target = ev.target;
            if( isOpenEmp && target !== openbtn_emp ) {
                toggleMenuEmp();
            }
        } );
    }

    function toggleMenu() {
        if( isOpen ) {
            classie.remove( bodyEl, 'show-menu' );
            classie.remove(filterBtn, 'hide-button');
            $('body').css({
                'overflow-y': 'hidden'
            });
            $('.content-wrap').css({
                overflow: 'hidden'
            });
            // animate path
        }
        else {
            classie.add( bodyEl, 'show-menu' );
            classie.add(filterBtn, 'hide-button');
            $('body').css({
                overflow: 'auto'
            });
            $('.content-wrap').css({
                overflow: 'auto'
            });
            // animate path
        }
        isOpen = !isOpen;
    }

    function toggleMenuEmp() {
        if( isOpenEmp ) {
            classie.remove( bodyEl, 'show-menu-emp' );
            /*classie.remove(filterBtn, 'hide-button');*/
            // animate path
            $('body').css({
                'overflow-y': 'auto',
                'overflow-x': 'auto'
            });
            $('.content-wrap').css({
                'overflow-y': 'auto',
                'overflow-x': 'auto'
            });
        }
        else {
            classie.add( bodyEl, 'show-menu-emp' );
            /*classie.add(filterBtn, 'hide-button');*/
            $('body').css({
                'overflow-y': 'hidden',
                'overflow-x': 'hidden'
            });
            $('.content-wrap').css({
                'overflow-y': 'hidden',
                'overflow-x': 'hidden'
            });
            // animate path
        }
        isOpenEmp = !isOpenEmp;
    }

    function fixMenu() {
        if(classie.has(bodyEl, 'show-menu')) {
            classie.remove(bodyEl, 'show-menu');
        }
        if(classie.has(bodyEl, 'show-menu-emp')){
            classie.remove(bodyEl, 'show-menu-emp')
        }
        /*classie.remove(filterBtn, 'hide-button');*/
    }

    init();
    var fixer = true;
    if(fixer) {
        $(window.location).trigger("change", fixMenu());
        fixer = false;
    }

</script>
<!--script>
$("#addNewRow").click(function(){
    //var taskId = $('#selectTask').val().replace('number:', '');
    //var taskName = $('#selectTask option:selected').text();
    //var expertEmail = $('#expId').text();
    //$('#selectTask').find('option[value='+taskId+']').attr('disabled','disabled');
    $('#hiddenTasks:last').after("<div><div id='tasks'><select class='form-control blueprintTasksInput' " +
        "id='selectTask' name='blueprint tasks' ng-model='make_blueprint.related_tasks'" +
        " ng-options='option.id*1 as option.name for option in blueprint_tasks'>" +
        "<option value='' ng-show='false'></option></select></div><div id='refs'>" +
        "<span class='form-control blueprintRefsInput' data-toggle='dropdown'>Select</span>" +
        "<ul class='dropdown-menu refsFix'><li ng-repeat='employee in desired_employees_info'>" +
        "<a class='small' data-value='option1' tabIndex='-1'>" +
        "<input type='checkbox' class='faChkSqr' ng-model='make_blueprint.employee'>" +
        "<span data-ng-bind='employee.email'></span></a></li></ul><button class='btn rem-btn'>" +
        "<span id='apply-span' class='apply-span'>Remove</span>" +
        "<span id='apply-span-2' class='hover hide-button'>Remove</span></button></div></div>");

    // method to push objects into make_blueprint_tasks
    // call angular addTask
</script-->
<!--script>
    $("#selectTask").click(function () {
        var task = $('#selectTask option:selected').text();
        angular.element(document.getElementById('selectTask')).scope().addNewTask(task);
    });
</script-->
<script>
$('#selectTask:last').click(function () {

    function addSelectedTask() {
        // body...
        var task = $('#selectTask option:selected').text();
        angular.element(document.getElementById('selectTask')).scope().addTask(task);
    }

    addSelectedTask();
});
</script>
<script>
$('#clonedTasks:last').on('click', '#selectTask',function () {

    function addSelectedTask() {
        // body...
        var task = $('#selectTask option:selected').text();
        angular.element(document.getElementById('selectTask')).scope().addTask(task);
    }

    addSelectedTask();
});
</script>
<script>
$("#TasksBlueprint").on('click','.rem-btn',function(){
    var taskId = $(this).parent().parent('tr').find('td:eq(1)').find('input[type=hidden]').val();

    function removeSelectedTask(taskId) {
        // body...
        angular.element(document.getElementById('selectTask')).scope().removeTask(taskId);
    }

    removeSelectedTask(taskId);
    console.log($(this).parent());
    $(this).parent().remove();
    $(this).remove();
});
</script>

<script type="text/javascript">
    function expandMenu() {
        // body...
        var size = $('.content-wrap').height();
        $('.menu-wrap').css({
            'height': size + 'px'
        });
    }
    $(window).on('scroll resize', expandMenu);
</script>
<script type="text/javascript">
    function expandMenu() {
        // body...
        var size = $('.content-wrap-emp').height();
        $('.menu-wrap-emp').css({
            'height': size + 'px'
        });
    }
    $(window).on('scroll resize', expandMenu);
</script>

<script type="text/javascript">
var options = [];

$( '.dropdown-menu a' ).on( 'click', function( event ) {

   var $target = $( event.currentTarget ),
       val = $target.attr( 'data-value' ),
       $inp = $target.find( 'input' ),
       idx;

   if ( ( idx = options.indexOf( val ) ) > -1 ) {
      options.splice( idx, 1 );
      setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
   } else {
      options.push( val );
      setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
   }

   $( event.target ).blur();
      
   return false;
});
</script>

<script type="text/javascript">
    function openCreateTasks() {
    // body...
        document.getElementById("createTask").style.visibility = "visible";
        document.getElementById("createTask").style.opacity = "1";
    }
</script>

<script type="text/javascript">
    function CreateTasks() {
    // body...
        document.getElementById("createTask").style.visibility = "hidden";
        document.getElementById("createTask").style.opacity = "0";
        angular.element(document.getElementById('createTask')).scope().createBlueprintTask();
    }
</script>

<script type="text/javascript">
    function closeCreateTasks() {
        document.getElementById("createTask").style.visibility = "hidden";
        document.getElementById("createTask").style.opacity = "0";
    }
</script>

<script type="text/javascript">
    function openCreateEmployee() {
    // body...
        document.getElementById("createEmployee").style.visibility = "visible";
        document.getElementById("createEmployee").style.opacity = "1";
    }
</script>

<script type="text/javascript">
    function CreateEmployee() {
    // body...
        document.getElementById("createEmployee").style.visibility = "hidden";
        document.getElementById("createEmployee").style.opacity = "0";
        angular.element(document.getElementById('createEmployee')).scope().createDesiredEmployee();
    }
</script>

<script type="text/javascript">
    function closeCreateEmployee() {
        document.getElementById("createEmployee").style.visibility = "hidden";
        document.getElementById("createEmployee").style.opacity = "0";
    }
</script>
