<nav class="dashHeader text-center navbar navbar-default fixed top"><span>ICRUITS</span></nav>
<section id="pages" style="margin-top: 75px;">
    <div class="container pb-artist-wrap">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 data-ng-bind="user_info.username"></h3>
                        <small ng-if="user_info.profile_type">jobseeker</small>
                        <small ng-if="!user_info.profile_type">employer</small>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                            <thead>
                                <tr>
                                    <th>Personal Informations</th>
                                </tr>
                            </thead>
                            <!--tbody>
                                <tr>
                                    <td><strong>Faded</strong></td>
                                    <td><a href="#">4:31</a></td>
                                </tr>
                                <tr>
                                    <td><strong>Sign me to sleep</strong></td>
                                    <td><a href="#">1:51</a></td>
                                </tr>
                                <tr>
                                    <td><strong>Alone</strong></td>
                                    <td><a href="#">2:37</a></td>
                                </tr>
                                <tr>
                                    <td><strong>Lorem Ipsum</strong></td>
                                    <td><a href="#">4:11</a></td>
                                </tr>
                                <tr>
                                    <td><strong>Ipsum Lorem</strong></td>
                                    <td><a href="#">3:29</a></td>
                                </tr>
                            </tbody-->
                    </div>
                </div>
            </div>
        </div>
        <a id="filter-btn">
            <span>
                Update
            </span>
            <span class="hover">
                Update
            </span>
        </a>
        <a id="back-btn" data-ui-sref="root.dashboard">
            <span id="advanced-span" class="show-button">
                x
            </span>
            <span id="advanced-span-2" class="hover show-button">
                x
            </span>            
        </a>
    </div>
</section>
