<nav class="dashHeader text-center fixed top"><span>ICRUITS</span></nav>
<section id="dashboard" style="margin-top: 75px;">
    <div class="container">
        <video style="margin-bottom: 55px;" width="100%" height="100%" preload="metadata" controls autoplay>
            <source src="{{ blueprint.video_url }}">
        </video>
        <a id="black-back-btn" data-ui-sref="root.dashboard" style="font-size: 1.2em;">
            <span id="advanced-span" class="show-button">
                &times;
            </span>
            <span id="advanced-span-2" class="hover show-button">
                &times;
            </span>            
        </a>
    </div>
</section>
