
<div class="container-wrap">
    <div class="menu-wrap">
        <nav id="sidemenu" class="menu">
            <div class="icon-list">
                <h3>Filter</h3>
                <a type="button" class="menu-item" data-toggle="collapse" data-target="#industry">Industry Type</a>
                <div id="industry" class="collapse dropdown-fix">
                    <div ng-repeat="ind in industry_info">
                        <label>
                            <input type="checkbox" class="faChkRnd" ng-click="FilterIndustry(ind.id)"/><span class="checkbox-label">{{ ind.type_industry }}</span></br/>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item" data-toggle="collapse" data-target="#location">Job Location</a>
                <div id="location" class="collapse dropdown-fix">
                    <div ng-repeat="loc in location_info">
                        <label>
                            <input type="checkbox" class="faChkRnd" ng-click="FilterLocation(loc.id)"/><span class="checkbox-label">{{ loc.location }}</span></br/>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item" data-toggle="collapse" data-target="#Salary">Salary Range</a>
                <div id="Salary" class="collapse dropdown-fix">
                    <div ng-repeat="sal in salary_info">
                        <label>
                            <input type="checkbox" class="faChkRnd" ng-click="FilterSalary(sal.id)"/><span class="checkbox-label">{{ sal.sal_range }}</span></br/>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item" data-toggle="collapse" data-target="#Experience">Experience Level</a>
                <div id="Experience" class="collapse dropdown-fix">
                    <div ng-repeat="exp in experience_info">
                        <label>
                            <input type="checkbox" class="faChkRnd" ng-click="FilterExperience(exp.id)"/><span class="checkbox-label">{{ exp.experience_level }}</span></br/>
                        </label>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <span id="open-button" class="menu-white"><span class="label" style="color: rgb(0,0,0);">FILTER</span> </span>
    <a id="user-nav" class="userNav" onclick="openNav()"><i class="fa fa-user"></i></a>
    <div id="userContent" class="userContainer" ng-controller='LogoutCtrl'>
        <a id="btn-2" ng-click="logoutNow()" class="userNavBtn">Logout</a>
    </div>

    <div class="content-wrap">
        <div class="content">
            <nav class="dashHeader text-center navbar navbar-default fixed top"><span>ICRUITS</span></nav>
            <section id="dashboard" style="margin-top: 75px;">
                <div class="containerSub cf">
                    <div class="row">
                        <div class="col-sm-3" 
                             data-ng-repeat="JobFeed in blueprints | filter:industryFilter | filter:locationFilter | filter:salaryFilter | filter:experienceFilter">
                            <div class="job-item text-center">
                                <div class="hover-bg hover-bg-articles">
                                    <a data-ui-sref="root.blueprint({name_slug: JobFeed.name_slug})">
                                                        <!--img class="img-responsive"
                                                                data-ng-src="{{ JobFeed.image }}" alt=""-->
                                        <div class="hover-text">
                                            <span class="lead" data-ng-bind="JobFeed.max_queue"></span>
                                        </div>
                                        <img class="img-circle img-thumbnail" src="">
                                        <span class="nohover center-block" data-ng-bind="JobFeed.name"></span>
                                        <span class="nohover center-block" data-ng-bind="user.related_profile_type"></span>
                                        <span class="hover company center-block" data-ng-bind="JobFeed.company_name"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a id="filter-btn" onclick="openBigNav()" ng-show="!user.profile_type">
                    <span>
                        Blueprint
                    </span>
                    <span class="hover">
                        Blueprint
                    </span>
                </a>
            </section>
        </div>
    </div>
</div>

<!-- FULLSCREEN NAV -->
<div id="myNav" class="overlay-offcanvas">
    <a href="javascript:void(0)" class="closebtn" onclick="closeBigNav()">&times; </a>
    <span class="label-close" style="color: rgb(255,255,255);">CLOSE</span>
    <a id="apply-btn" class="hide-button">
        <span id="apply-span" class="hide-button">
            Apply
        </span>
        <span id="apply-span-2" class="hover hide-button">
            Apply
        </span>
    </a>
    <a id="advanced-btn" class="hide-button">
        <span id="advanced-span" class="hide-button">
            Advanced
        </span>
        <span id="advanced-span-2" class="hover hide-button">
            Advanced
        </span>
    </a>
    <div class="col-md-12 col-sm-12" id="div1">
        <form method="post" action="" id="formSubmit">
            <div id="rootwizard">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul style="visibility: hidden;">
                                <li><a href="#tab1" data-toggle="tab">First</a></li>
                                <li><a href="#tab2" data-toggle="tab">Second</a></li>
                                <li><a href="#tab3" data-toggle="tab">Third</a></li>
                                <li><a href="#tab4" data-toggle="tab">Forth</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="bar" class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;background:darkgrey;"></div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="tab1">
                        <center>
                            Blueprint Name
                            <input type="text" class="form-control" name="name" placeholder=" Job Blueprint name" style="display:inline;width:50%;margin:4%;"  required />
                        </center>
                    </div>
                <div class="tab-pane" id="tab2">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="new"> Industry </td>
                                <td>
                                    <select class="form-control" name="job_industry">
                                        <option value="any"> Any</option>
                                        <option value="softwares" > Softwares</option>
                                        <option value="accounting" > Accounting</option>
                                        <option value="helth" > Health & care</option>
                                    </select>
                                </td>
                                <td class="new"> Employer Size </td>
                                <td>
                                    <select class="form-control" name="employer_size">
                                        <option value="any"> Any</option>
                                        <option value="startup" > Startup</option>
                                        <option value="national" > National</option>
                                        <option value="mnc" > MNCs</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="new"> Job Function </td>
                                <td>
                                    <select class="form-control"  name="job_function">
                                        <option value="any" > Any</option>
                                        <option value="accounting" > Accounting</option>
                                        <option value="management" > Management</option>
                                        <option value="others" > Others</option>
                                    </select>
                                </td>
                                <td class="new"> Experience </td>
                                <td>
                                    <select class="form-control"  name="experience_level">
                                        <option value="any"> Any</option>
                                        <option value="fresher" > Fresher</option>
                                        <option value="intern" > Intern</option>
                                        <option value="expereinced" > Expereinced</option>
                                        <option value="trainee" > Trainee</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="new"> Location </td>
                                <td>
                                    <input class="form-control"  type="text"name="job_locaton"  placeholder="Any" id="address" >
                                    <input type="hidden" id="lat"  name="lat">
                                    <input type="hidden" id="lon"  name="lon">
                                </td>
                                <td class="new"> Job Type </td>
                                <td>
                                    <select class="form-control" name="job_type">
                                        <option value="any"> Any</option>
                                        <option value="part-time" > Part-Time</option>
                                        <option value="full-time" > Full-Time</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="new"> Wait Interval </td>
                                <td>
                                    <select class="form-control" name="wait_interval">
                                        <option value="any"> Any</option>
                                        <option value="within_7_days" > Within 7 days</option>
                                        <option value="within_15_days" > Within 15 days</option>
                                        <option value="1_Month" > 1 Month</option>
                                    </select>
                                </td>
                                <td class="new"> On Success </td>
                                <td>
                                    <select class="form-control" name="on_success">
                                        <option value="any"> Any</option>
                                        <option value="contract" > Contract</option>
                                        <option value="direct-hiring" > Direct-Hiring</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="tab3">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="new"> Job Code </td>
                                <td>
                                    <select class="form-control" name="job_code">
                                        <option value="any"> Any</option>
                                        <option value="support_l-1" > Support L-1</option>
                                        <option value="support_l-2" > Support L-2</option>
                                        <option value="support_l-3" > Support L-3</option>
                                    </select>
                                </td>
                                <td class="new"> Team ID </td>
                                <td>
                                    <select class="form-control" name="team_id">
                                        <option value="any"> Any</option>
                                        <option value="g4-10"> G4-10</option>
                                        <option value="g5-12" > G5-12</option>
                                        <option value="g5-8" > G5-8</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="new">Salary Range : </td>
                                <td>
                                    <select class="form-control" name="salary_range">
                                        <option value="any"> Any</option>
                                        <option value="$10K-$50K" >$10K-$50K</option>
                                        <option value="$50K-$100K" >$50K-$100K</option>
                                        <option value="$100K-$200K" >$100K-$200K</option>
                                        <option value="$200K-$500K" >$200K-$500K</option>
                                    </select>
                                </td>
                                <td class="new">Practice Limit : </td>
                                <td>
                                    <input type="text" class="form-control" name="practice_limit" style="margin:2% 0%;" />
                                </td>
                            </tr>
                            <tr>
                                <td class="new">Description : </td>
                                <td>
                                    <input type="textarea" class="form-control" name="description" style="margin:2% 0%;" />
                                </td>
                                <td class="new"> Legal Status </td>
                                <td>
                                    <input type="text" class="form-control" name="legal_status" style="margin:2% 0%;"  />
                                </td>
                            </tr>
                            <tr>
                                <td class="new"> Professional Qualification </td>
                                <td>
                                    <input type="text" class="form-control" name="professional_qualification" style="margin:2% 0%;" >
                                </td>
                                <td class="new">Download Url : </td>
                                <td>
                                    <input type="text" class="form-control" name="blueprint_url" style="margin:2% 0%;" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="tab4">
                    <table class="table">
                        <tbody>
                            <center>
                                <div class="col-md-6 col-sm-6"> Tasks</br>
                                    <select class="form-control" style="width:50%;" id="selectTask">
                                        <option value="1">Closing the sales for a client</option>
                                        <option value="2">Making a cold call to the client</option>
                                        <option value="3">Addressing a customer with bad product experience</option>
                                        <option value="4">Escalating the issue to the manager</option>
                                        <option value="5">Explaining the product</option>
                                        <option value="6">Handling the branding question</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6"> Expert Ref</br>
                                    <input type="email" class="form-control"  style="width:50%;margin:2% 0%;" id="expId"/>
                                    <span class="btn btn-info" style="font-size:20px;margin-left:3%;" id="addNewRow">
                                        <b class="fa fa-plus-circle"></b>
                                    </span>
                                </div>
                                <table class="table" id="hiddenTable">
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </center>
                        </tbody>
                    </table>
                </div>
                <ul class="pager wizard">
                    <li class="previous first" >
                        <a href="javascript:;" id="bform">First</a>
                    </li>
                    <li class="previous" >
                        <a href="javascript:;" id="bform" >Previous</a>
                    </li>
                    <li class="next last">
                        <a href="javascript:;" id="bform" >Last</a>
                    </li>
                    <li class="next">
                        <a href="javascript:;" id="bform">Next</a>
                    </li>
                    <li class="finish">
                        <a href="javascript:;" id="bform" onclick="savedata();"  style="margin-left:66%;">Finish</a>
                    </li>
                </ul>
                <input type="submit" name="btnsubmit" style="visibility:hidden">
            </div>
        </form>
    </div>
    <div class="col-md-12 col-sm-12" id="div2" style="display:none;">
        <div class="col-md-2 col-sm-2"></div>
        <form method="post" action="#">
            <div class="col-md-8 col-sm-8">
                <textarea class="form-control" style="min-height:200px;"></textarea>
            </div>
            <center>
                <button class="btn btn-success form-control" style="width:40%;margin-top:4%;">Tell me about your dream job</button>
            </center>
        </form>
        <div class="col-md-2 col-sm-2"></div>
    </div>
</div>

<!-- SMALL CANVAS MENU -->
<aside id="sidenav" class="sidenav" ng-controller='LogoutCtrl'>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <span class="label-close" style="color: rgb(255,255,255); margin-top: 3.4px;">CLOSE</span>
    <div class="">
        <h3>USER</h3>
    </div>
    <!--a data-ui-sref="root.dashboard">Dashboard</a-->
    <a class="menu-item">Profile</a>
    <a href='' class="menu-item" ng-click="logoutNow()">Logout</a>
</aside>

<script type="text/javascript">
(function() {

    var bodyEl = document.body,
        content = document.querySelector( '.content-wrap' ),
        openbtn = document.getElementById( 'open-button' ),
        closebtn = document.getElementById( 'close-button' ),
        isOpen = false;

    var filterBtn = document.getElementById('filter-btn');


    function init() {
        initEvents();
    }

    function initEvents() {
        openbtn.addEventListener( 'click', toggleMenu );
        if( closebtn ) {
            closebtn.addEventListener( 'click', toggleMenu );
        }

        // close the menu element if the target it´s not the menu element or one of its descendants..
        content.addEventListener( 'click', function(ev) {
            var target = ev.target;
            if( isOpen && target !== openbtn ) {
                toggleMenu();
            }
        } );
    }

    function toggleMenu() {
        if( isOpen ) {
            classie.remove( bodyEl, 'show-menu' );
            /*classie.remove(filterBtn, 'hide-button');*/
            // animate path
        }
        else {
            classie.add( bodyEl, 'show-menu' );
            /*classie.add(filterBtn, 'hide-button');*/
            // animate path
        }
        isOpen = !isOpen;
    }

    function fixMenu() {
        classie.remove(bodyEl, 'show-menu');
        /*classie.remove(filterBtn, 'hide-button');*/
    }

    init();
    var fixer = true;
    if(fixer) {
        $(window.location).trigger("change", fixMenu());
        fixer = false;
    }

})();    
</script>
<script>
$("#addNewRow").click(function(){
    var taskId = $('#selectTask').val();
    var taskName = $('#selectTask option:selected').text();
    var expertEmail = $('#expId').val();
    $('#selectTask').find('option[value='+taskId+']').attr('disabled','disabled');
    $('#hiddenTable tr:last').after("<tr><td><span class='btn btn-small btn-danger rembtn'><i class='fa fa-minus'></i></span></td><td><input type='text' value='"+taskName+"' class='form-control' readonly /><input type='hidden' name='task[]' value='"+taskId+"' class='form-control' readonly /></td><td><input type='email' name='expert_ref[]' value='"+expertEmail+"' class='form-control' readonly /></td></tr>");
    $('#expId').val('');
});
$("#hiddenTable").on('click','.rembtn',function(){
    var taskId = $(this).parent().parent('tr').find('td:eq(1)').find('input[type=hidden]').val();
    $('#selectTask').find('option[value='+taskId+']').attr('disabled',false);
    $(this).parent().parent('tr').remove();
});
    
$(document).ready(function() {
    $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
        var $total = navigation.find('li').length;
        var $current = index+1;
        var $percent = ($current/$total) * 100;
        $('#rootwizard .progress-bar').css({width:$percent+'%'});
    }});    
});
</script>