<!--a class="btn-white btn-white-slide text-center top-right-btn" onclick="openBigNav()">
    <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
    </svg>
    Filter
</a-->
<!--span id="open-button" class="menu-white" onclick="openNav()"><span class="label" style="color: rgb(255,255,255);">MENU</span> </span-->
                    <!--a data-ui-sref="root.dashboard" class="menu-item-dashboard">Dashboard</a>
                    <a data-ui-sref="root.help" class="menu-item-help">Help</a>
                    <a href="#" ng-show="!user.profile_type" class="menu-item-blueprint">Blueprint</a>
                    <a href="" ng-click="logoutNow()" class="menu-item-logout">Logout</a-->
    <div class="container-wrap">
        <div class="menu-wrap">
            <nav id="sidemenu" class="menu">
                <div class="icon-list">
                    <h3>Filter</h3>
                    <a type="button" class="btn" data-toggle="collapse" data-target="#industry">Industry Type</a>
                    <div id="industry" class="collapse">
                        {{blueprints[0].name}}
                    </div>
                    <a type="button" class="btn" data-toggle="collapse" data-target="#location">Job Location</a>
                    <div id="location" class="collapse">
                        {{blueprints[0].name}}
                    </div>
                </div>
            </nav>
        </div>
        <span id="open-button" class="menu-white"><span class="label" style="color: rgb(0,0,0);">FILTER</span> </span>

        <!--a id="filter-btn" onclick="openBigNav()">
            <span>
                Filter
            </span>
            <span class="hover">
                Filter
            </span>
        </a-->

        <div class="content-wrap">
            <div class="content">
                <nav class="dashHeader text-center navbar navbar-default fixed top"><span>ICRUITS</span></nav>
                <section id="dashboard" style="margin-top: 75px;">
                    <div class="containerSub cf">
                        <div class="row">
                            <div class="col-sm-3" data-ng-repeat="JobFeed in blueprints">
                                <div class="job-item text-center">
                                    <div class="hover-bg hover-bg-articles">
                                        <a data-ui-sref="root.blueprint({name_slug: JobFeed.name_slug})">
                                                        <!--img class="img-responsive"
                                                                data-ng-src="{{ JobFeed.image }}" alt=""-->
                                            <div class="hover-text">
                                                <span class="lead" data-ng-bind="JobFeed.max_queue"></span>
                                            </div>
                                            <img class="img-circle img-thumbnail" src="">
                                        </a>
                                    </div>
                                    <span class="nohover center-block" data-ng-bind="JobFeed.name"></span>
                                    <span class="nohover center-block" data-ng-bind="user.related_profile_type"></span>
                                    <span class="hover company center-block" data-ng-bind="JobFeed.company_name"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

<!-- FULLSCREEN NAV -->
<div id="myNav" class="overlay-offcanvas">
    <a href="javascript:void(0)" class="closebtn" onclick="closeBigNav()">&times; </a>
    <span class="label-close" style="color: rgb(255,255,255);">CLOSE</span>
    <a id="apply-btn" class="hide-button">
        <span id="apply-span" class="hide-button">
            Apply
        </span>
        <span id="apply-span-2" class="hover hide-button">
            Apply
        </span>
    </a>
    <a id="advanced-btn" class="hide-button">
        <span id="advanced-span" class="hide-button">
            Advanced
        </span>
        <span id="advanced-span-2" class="hover hide-button">
            Advanced
        </span>
    </a>
    <div class="form-group center-block">
        <ul class="inline center-block inline-fix" style="top: 10%;">
            <div class="filter-box-alignment">
                <label class="control-label filter-label text-center">Industry</label>
                <select ng-options="Iindustry.type_industry as Iindustry.type_industry for Iindustry in industry"
                        ng-model="blueprints.industry"
                        class="selectpicker form-control"
                        multiple data-actions-box="true">
                </select>
            </div>
            <div class="filter-box-alignment">
                <label class="control-label filter-label text-center">Job Location</label>
                <select class="selectpicker form-control select-fix" data-size="5" 
                        multiple data-actions-box="true">
                        <option>USA</option>
                        <option>Canada</option>
                        <option>France</option>
                        <option>USA</option>
                        <option>Canada</option>
                        <option>France</option>
                        <option>USA</option>
                        <option>Canada</option>
                        <option>France</option>
                        <option>USA</option>
                        <option>Canada</option>
                        <option>France</option>
                        <option>USA</option>
                        <option>Canada</option>
                        <option>France</option>
                        <option>USA</option>
                        <option>Canada</option>
                        <option>France</option>
                        <option>USA</option>
                        <option>Canada</option>
                        <option>France</option>
                        <option>USA</option>
                        <option>Canada</option>
                        <option>France</option>
                        <option>USA</option>
                        <option>Canada</option>
                        <option>France</option>
                </select>
            </div>
            </ul>
        <ul class="inline center-block inline-fix" style="top: 30%;">
            <div class="filter-box-alignment">
                <label class="control-label filter-label text-center">Job Role</label>
                <select class="selectpicker form-control"
                        multiple data-actions-box="true">
                        <option>Role</option>
                </select>
            </div>
            <div class="filter-box-alignment">
                <label class="control-label filter-label text-center">Salary</label>
                <select class="selectpicker form-control" 
                        multiple data-actions-box="true">
                        <option>$10K-$50K</option>
                        <option>$50K-$100K</option>
                        <option>$100K-$200K</option>
                        <option>$200K-$500K</option>
                </select>
            </div>
        </ul>
        <ul class="inline center-block inline-fix" style="top: 30%;">
            <div class="filter-box-alignment">
                <label class="control-label filter-label text-center">Job Role</label>
                        <select ng-options="Iindustry.type_industry as Iindustry.type_industry for Iindustry in industry"
                                ng-model="blueprints.related_industry"
                                class="form-control">
                            <option value="">Select Predefined Testimonial</option>
                        </select>
            </div>
        </ul>
                <!--ul class="inline">
            <div class="filter-box-alignment">
                <label class="control-label">Industry</label>
                <select ng-options="Iindustry.industry as Iindustry.industry for Iindustry in JobFeeds[0]"
                        ng-model="JobFeeds.industry" 
                        class="selectpicker form-control" 
                        multiple data-actions-box="true">
                        <option>{{feed.industry}}</option>
                </select>
            </div>
            <div class="filter-box-alignment">
                <label class="control-label">Job Location</label>
                <select ng-options="Iindustry.industry as Iindustry.industry for Iindustry in JobFeeds[0]"
                        ng-model="JobFeeds.industry" 
                        class="selectpicker form-control" 
                        multiple data-actions-box="true">
                        <option>{{feed.industry}}</option>
                </select>
            </div>
            <div class="filter-box-alignment">
                <label class="control-label">Job Role</label>
                <select ng-options="Iindustry.industry as Iindustry.industry for Iindustry in JobFeeds[0]"
                        ng-model="JobFeeds.industry" 
                        class="selectpicker form-control" 
                        multiple data-actions-box="true">
                        <option>{{feed.industry}}</option>
                </select>
            </div>
            <div class="filter-box-alignment">
                <label class="control-label">Salary</label>
                <select ng-options="Iindustry.industry as Iindustry.industry for Iindustry in JobFeeds[0]"
                        ng-model="JobFeeds.industry" 
                        class="selectpicker form-control" 
                        multiple data-actions-box="true">
                        <option>{{feed.industry}}</option>
                </select>
            </div>
        </ul-->
    </div>
</div>


    <!--div class="overlay-offcanvas-content">
        <ul class="inline" style="margin-top: 200px;">
            <li>
                <div class="btn-group btn-group-merge" data-ng-class="{open: CT.open}">
                    <a class="btn dropdown-toggle" data-ng-click="CT.open=!CT.open">
                        Filter by Company Type
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-ng-click="checkAllCT()"><i class="glyphicon-ok"></i>  Check All</a>
                        </li>
                        <li><a data-ng-click="selectedCompanyType=[];"><i class="glyphicon-remove-sign"></i>  Uncheck All</a>
                        </li>
                        <li class="divider"></li>
                        <li data-ng-repeat="companyType in companyTypeList"> <a data-ng-click="setSelectedCompanyType()">{{companyType.name}}<span data-ng-class="isCheckedCT(companyType.id)"></span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="btn-group btn-group-merge" data-ng-class="{open: open}">
                    <a class="btn dropdown-toggle" data-ng-click="open=!open">
                        Filter by Industry Type
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-ng-click="checkAll()"><i class="glyphicon-ok"></i>  Check All</a>
                        </li>
                        <li><a data-ng-click="selectedCompany=[];"><i class="glyphicon-remove-sign"></i>  Uncheck All</a>
                        </li>
                        <li class="divider"></li>
                        <li data-ng-repeat="company in companyList"> <a data-ng-click="setSelectedClient()">{{company.name}}<span data-ng-class="isChecked(company.id)"></span></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div-->


<!--div role="main">
    <aside data-name="side"> 
        <ul>
            <li>Menu Item</li>
            <li>Additional</li>
            <li>Here's Another</li>
            <li>More Here</li>
            <li>One Final</li>            
        </ul>
    </aside>
    <section data-name="master">
        <span class="menu-white"><span class="label" style="color: rgb(255,255,255);">MENU</span> </span></span>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    </section>
</div-->


<!-- SMALL CANVAS MENU -->
<!--aside id="sidenav" class="sidenav" ng-controller='LogoutCtrl'>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="">
        <h3>Menu</h3>
    </div>
    <a data-ui-sref="root.dashboard">Dashboard</a>
    <a data-ui-sref="root.help">Help</a>
    <a href="#" ng-show="user.profile_type.account_type == 'Employer'">Blueprint</a>
    <a href='' ng-click="logoutNow()">Logout</a>
</aside-->

<script type="text/javascript">
(function() {

    var bodyEl = document.body,
        content = document.querySelector( '.content-wrap' ),
        openbtn = document.getElementById( 'open-button' ),
        closebtn = document.getElementById( 'close-button' ),
        isOpen = false;

    var filterBtn = document.getElementById('filter-btn');


    function init() {
        initEvents();
    }

    function initEvents() {
        openbtn.addEventListener( 'click', toggleMenu );
        if( closebtn ) {
            closebtn.addEventListener( 'click', toggleMenu );
        }

        // close the menu element if the target it´s not the menu element or one of its descendants..
        content.addEventListener( 'click', function(ev) {
            var target = ev.target;
            if( isOpen && target !== openbtn ) {
                toggleMenu();
            }
        } );
    }

    function toggleMenu() {
        if( isOpen ) {
            classie.remove( bodyEl, 'show-menu' );
            /*classie.remove(filterBtn, 'hide-button');*/
            // animate path
        }
        else {
            classie.add( bodyEl, 'show-menu' );
            /*classie.add(filterBtn, 'hide-button');*/
            // animate path
        }
        isOpen = !isOpen;
    }

    function fixMenu() {
        classie.remove(bodyEl, 'show-menu');
        /*classie.remove(filterBtn, 'hide-button');*/
    }

    init();
    var fixer = true;
    if(fixer) {
        $(window.location).trigger("change", fixMenu());
        fixer = false;
    }

})();    
</script>
