<!-- JOBSEEKER DASHBOARD EXPERIENCE -->
<div class="container-wrap" ng-show="user.profile_type">
    <div class="menu-wrap">
        <nav id="sidemenu" class="menu">
            <a id="close-button-job" class="closebtn">&times;</a>
            <span class="label-close label-close-filter" style="color: rgb(255,255,255); margin-top: 4px; margin-right: 12px; font-size: 11px">CLOSE</span>
            <div class="icon-list">
                <h3>Filter</h3>
                <a type="button" class="menu-item" data-toggle="collapse" data-target="#industry">Industry Type</a>
                <div id="industry" class="collapse dropdown-fix">
                    <div ng-repeat="ind in industry_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterIndustry(ind.id)">
                            <span class="checkbox-label">{{ ind.type_industry }}</span><br>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item" data-toggle="collapse" data-target="#location">Job Location</a>
                <div id="location" class="collapse dropdown-fix">
                    <div ng-repeat="loc in location_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterLocation(loc.id)"/>
                            <span class="checkbox-label">{{ loc.location }}</span><br>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item" data-toggle="collapse" data-target="#Salary">Salary Range</a>
                <div id="Salary" class="collapse dropdown-fix">
                    <div ng-repeat="sal in salary_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterSalary(sal.id)"/>
                            <span class="checkbox-label">{{ sal.sal_range }}</span><br>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item" data-toggle="collapse" data-target="#Experience">Experience Level</a>
                <div id="Experience" class="collapse dropdown-fix">
                    <div ng-repeat="exp in experience_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterExperience(exp.id)"/>
                            <span class="checkbox-label">{{ exp.experience_level }}</span><br>
                        </label>
                    </div>
                </div>
            </div>
            <div class="social-container">
                <div class="social-fb">
                    <a href="https://www.facebook.com/pages/iCruits/1548586008772579" style="margin-left: 0;"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="social-twitter">
                    <a href="https://twitter.com/icruits?lang=en" style="margin-left: 0;"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </nav>
    </div>
    <span id="open-button" class="menu-white"><span class="label">FILTER</span> </span>
    <span id="user-nav" class="user-menu" onclick="openNav()"><span class="label">SETTINGS</span></span>

    <div class="content-wrap">
        <div class="content">
            <nav class="dashHeader text-center fixed top"><span>ICRUITS</span></nav>
            <section id="dashboard" style="margin-top: 75px;">
                <div class="containerSub cf">
                    <div id="dashItemSeeker" class="row">
                        <div id="seekerItems" class="col-sm-3"
                             data-ng-repeat="JobFeed in blueprints | filter:industryFilter | filter:locationFilter | filter:salaryFilter | filter:experienceFilter">
                            <div class="dashboardItem text-center blueprintItem" ng-if="user.profile_type">
                                <div class="inner">
                                    <a data-ui-sref="root.blueprint({name_slug: JobFeed.blueprints.name_slug})">
                                        <span class="nohover center-block blueprintTitle"
                                              data-ng-bind="JobFeed.blueprints.name">
                                        </span>
                                        <span style="color: rgb(100, 100, 100)">@ <span class="dashboardCompanyName"
                                                      data-ng-bind="JobFeed.blueprints.company_name"></span></span>
                                        <div class="row">
                                            <span class="dashboardLocation" data-ng-bind="JobFeed.blueprints.current_location"></span>
                                            <span class="dashboardSalary" data-ng-bind="JobFeed.blueprints.salary_range"></span>
                                        </div>
                                    </a>
                                    <a data-ui-sref="root.intro({name_slug: JobFeed.blueprints.name_slug})">
                                        <div class="play-button-outer">
                                            <div class="play-button"></div>
                                        </div>
                                    </a>
                                    <img class="img-responsive" src="{{ JobFeed.blueprints.video_png }}">
                                    <div class="queueNumber"></div>
                                    <h1 class="jobHeader" data-ng-bind="JobFeed.stacks[JobFeed.stacks.length - 1].candidate_position"></h1>
                                    <!--div class="overlay">
                                        <div class="overlay-content">
                                            <div class="blueprint-info">
                                                <h3 data-ng-bind="JobFeed.blueprints[0].name"></h3>
                                                <h3 data-ng-bind="JobFeed.stacks[JobFeed.stacks.length - 1].candidate_position"
                                                    style="font-size: 2.2em">
                                                </h3>
                                                <p data-ng-bind="JobFeed.blueprints[0].company_name"></p>
                                            </div>
                                            <div class="blueprint-overview">
                                                <span class="blueprint-link">
                                                    <a data-ui-sref="root.blueprint({name_slug: JobFeed.blueprints[0].name_slug})">
                                                        <i class="fa fa-link"></i>
                                                    </a>
                                                </span>
                                                <span class="blueprint-expand">
                                                    <a data-ui-sref="root.intro({name_slug: JobFeed.blueprints[0].name_slug})">
                                                        <i class="fa fa-video-camera"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashFooter">
                    <div id="dashboardBtn1">
                        <a id="filter-btn" ng-click="tupleAppliedJobs()" ng-if="show_new_jobs">
                            <span>
                                Applied Jobs
                            </span>
                            <span class="hover">
                                Applied Jobs
                            </span>
                        </a>
                    </div>
                    <div id="dashboardBtn2">
                        <a id="filter-btn" ng-click="tupleAppliedJobs()" ng-if="!show_new_jobs">
                            <span>
                                All Jobs
                            </span>
                            <span class="hover">
                                All Jobs
                            </span>
                        </a>
                    </div>
                    <div id="dashboardBtn3">
                        <a id="filter-btn" ng-click="tupleICruitedJobs()"
                           class="filter180R"
                           ng-if="show_new_jobs_icruited">
                            <span>
                                iCruited Jobs
                            </span>
                            <span class="hover">
                                iCruited Jobs
                            </span>
                        </a>
                    </div>
                    <div id="dashboardBtn4">
                        <a id="filter-btn" ng-click="tupleICruitedJobs()"
                           class="filter180R"
                           ng-if="!show_new_jobs_icruited">
                            <span>
                                All Jobs
                            </span>
                            <span class="hover">
                                All Jobs
                            </span>
                        </a>
                    </div>
                    <div id="dashboardBtn5">
                        <a id="filter-btn" ng-click="tupleInterviewJobs()"
                           class="filter360R"
                           ng-if="show_new_jobs_interview">
                            <span>
                                Interview for Job
                            </span>
                            <span class="hover">
                                Interview for Job
                            </span>
                        </a>
                    </div>
                    <div id="dashboardBtn6">
                        <a id="filter-btn" ng-click="tupleInterviewJobs()"
                           class="filter360R"
                           ng-if="!show_new_jobs_interview">
                            <span>
                                All Jobs
                            </span>
                            <span class="hover">
                                All Jobs
                            </span>
                        </a>
                    </div>
                    <div id="dashboardBtn7">
                        <a id="filter-btn" ng-click="tupleHiredJobs()"
                           class="filter540R"
                           ng-if="show_hired_jobs">
                            <span>
                                Hired Jobs
                            </span>
                            <span class="hover">
                                Hired Jobs
                            </span>
                        </a>
                    </div>
                    <div id="dashboardBtn8">
                        <a id="filter-btn" ng-click="tupleHiredJobs()"
                           class="filter540R"
                           ng-if="!show_hired_jobs">
                            <span>
                                All Jobs
                            </span>
                            <span class="hover">
                                All Jobs
                            </span>
                        </a>
                    </div>
                    <div id="dashboardBtn9">
                        <a id="filter-btn" data-ui-sref="root.status"
                           class="filter0L">
                            <span>
                                Simulator Stats
                            </span>
                            <span class="hover">
                                Simulator Stats
                            </span>
                        </a>
                    </div>
                    <!--a id="filter-btn" style="right: 180px;"
                       ng-click="tupleJobsState()" ng-if="!show_closed_jobs">
                        <span>
                            Closed Jobs
                        </span>
                        <span class="hover">
                            Closed Jobs
                        </span>
                    </a>
                    <a id="filter-btn" style="right: 180px;"
                       ng-click="tupleJobsState()" ng-if="show_closed_jobs">
                        <span>
                            Opened Jobs
                        </span>
                        <span class="hover">
                            Opened Jobs
                        </span>
                    </a-->
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END OF JOBSEEKER DASHBOARD EXPERIENCE -->

<!-- EMPLOYER DASHBOARD EXPERIENCE -->
<div class="container-wrap-emp" ng-show="!user.profile_type">
    <div class="menu-wrap-emp">
        <nav id="sidemenu-emp" class="menu-emp">
            <a id="close-button-emp" class="closebtn">&times;</a>
            <span class="label-close label-close-filter" style="color: rgb(255,255,255); margin-top: 4px; margin-right: 12px; font-size: 11px">CLOSE</span>
            <div class="icon-list-emp">
                <h3>Filter</h3>
                <a type="button" class="menu-item-emp" data-toggle="collapse" data-target="#location-emp">Job Location</a>
                <div id="location-emp" class="collapse dropdown-fix-emp">
                    <div ng-repeat="loc in location_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterLocation(loc.id)"/>
                            <span class="checkbox-label">{{ loc.location }}</span><br>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item-emp" data-toggle="collapse" data-target="#Salary-emp">Salary Range</a>
                <div id="Salary-emp" class="collapse dropdown-fix-emp">
                    <div ng-repeat="sal in salary_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterSalary(sal.id)"/>
                            <span class="checkbox-label">{{ sal.sal_range }}</span><br>
                        </label>
                    </div>
                </div>
                <a type="button" class="menu-item-emp" data-toggle="collapse" data-target="#Experience-emp">Experience Level</a>
                <div id="Experience-emp" class="collapse dropdown-fix-emp">
                    <div ng-repeat="exp in experience_info">
                        <label>
                            <input type="checkbox"
                                   class="faChkRnd"
                                   ng-click="FilterExperience(exp.id)"/>
                            <span class="checkbox-label">{{ exp.experience_level }}</span><br>
                        </label>
                    </div>
                </div>
            </div>
            <div class="social-container-emp">
                <div class="social-fb-emp">
                    <a href="https://www.facebook.com/pages/iCruits/1548586008772579" style="margin-left: 0;"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="social-twitter-emp">
                    <a href="https://twitter.com/icruits?lang=en" style="margin-left: 0;"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </nav>
    </div>
    <span id="open-button-emp" class="menu-white"><span class="label">FILTER</span></span>
    <span id="user-nav-emp" class="user-menu" onclick="openNav()"><span class="label">SETTINGS</span></span>

    <div class="content-wrap-emp">
        <div class="content-emp">
            <nav id="dashIcruitsEmp" class="dashHeader text-center fixed top"><span>ICRUITS</span></nav>
            <section id="dashboard" style="margin-top: 75px;">
                <div class="containerSub cf">
                    <div id="dashItemEmp" class="row">
                        <div id="employerItems" class="col-sm-3"
                             data-ng-repeat="JobFeed in blueprints | filter:industryFilter | filter:locationFilter | filter:salaryFilter | filter:experienceFilter">
                            <div class="dashboardItem text-center blueprintItem" ng-if="!show_closed_jobs && !user.profile_type">
                                <div class="inner">
                                    <a data-ui-sref="root.blueprint({name_slug: JobFeed.name_slug})">
                                        <span class="nohover center-block blueprintTitle"
                                              data-ng-bind="JobFeed.name">
                                        </span>
                                        <span style="color: rgb(100, 100, 100)">@ <span class="dashboardCompanyName"
                                                      data-ng-bind="JobFeed.company_name"></span></span>
                                        <div class="row">
                                            <span class="dashboardLocation" data-ng-bind="JobFeed.current_location"></span>
                                            <span class="dashboardSalary" data-ng-bind="JobFeed.salary_range"></span>
                                        </div>
                                    </a>
                                    <a data-ui-sref="root.intro({name_slug: JobFeed.name_slug})">
                                        <div class="play-button-outer">
                                            <div class="play-button"></div>
                                        </div>
                                    </a>
                                    <img class="img-responsive" src="{{ JobFeed.video_png }}">
                                    <div class="queueNumber"></div>
                                    <h1 class="jobHeader" data-ng-bind="JobFeed.queue_pos"></h1>
                                    <!--div class="overlay">
                                        <div class="overlay-content">
                                            <div class="blueprint-info">
                                                <h3 data-ng-bind="JobFeed.name"></h3>
                                                <h3 data-ng-bind="JobFeed.queue_pos" style="font-size: 2.2em"></h3>
                                                <p data-ng-bind="JobFeed.company_name"></p>
                                            </div>
                                            <div class="blueprint-overview">
                                                <span class="blueprint-link">
                                                    <a data-ui-sref="root.blueprint({name_slug: JobFeed.name_slug})">
                                                        <i class="fa fa-link"></i>
                                                    </a>
                                                </span>
                                                <span class="blueprint-expand">
                                                    <a data-ui-sref="root.intro({name_slug: JobFeed.name_slug})">
                                                        <i class="fa fa-video-camera"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div-->
                                </div>
                            </div>
                            <div class="dashboardItem text-center blueprintItem" ng-if="show_closed_jobs && !user.profile_type">
                                <div class="inner">
                                    <span class="nohover center-block blueprintTitle"
                                          data-ng-bind="JobFeed.name">
                                    </span>
                                    <video width="100%" height="200px" preload="metadata">
                                        <source src="{{ JobFeed.video_url }}" type="video/mp4">
                                    </video>
                                    <div class="queueNumber"></div>
                                    <h1 class="jobHeader" data-ng-bind="JobFeed.max_queue"></h1>
                                    <div class="overlay">
                                        <div class="overlay-content">
                                            <div class="blueprint-info">
                                                <h3 data-ng-bind="JobFeed.name"></h3>
                                                <h3 data-ng-bind="JobFeed.max_queue"></h3>
                                                <p data-ng-bind="JobFeed.company_name"></p>
                                            </div>
                                            <div class="blueprint-overview">
                                                <span class="blueprint-link">
                                                    <a href="#"
                                                       data-ui-sref="root.blueprint({name_slug: JobFeed.name_slug})">
                                                        <i class="fa fa-link"></i>
                                                    </a>
                                                </span>
                                                <span class="blueprint-expand">
                                                    <a data-ui-sref="root.intro({name_slug: JobFeed.name_slug})">
                                                        <i class="fa fa-search-plus"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashFooterEmp">
                    <div id="dashboard-emp-btn1">
                        <a id="filter-btn" onclick="openBigNav()">
                            <span>
                                Create Blueprint
                            </span>
                            <span class="hover">
                                Create Blueprint
                            </span>
                        </a>
                    </div>
                    <div id="dashboard-emp-btn2">
                        <a id="filter-btn" style="left: 0;"
                           ng-click="tupleJobsState()" ng-if="!show_closed_jobs">
                            <span>
                                Closed Jobs
                            </span>
                            <span class="hover">
                                Closed Jobs
                            </span>
                        </a>
                    </div>
                    <div id="dashboard-emp-btn3">
                        <a id="filter-btn" style="left: 0;"
                           ng-click="tupleJobsState()" ng-if="show_closed_jobs">
                            <span>
                                Opened Jobs
                            </span>
                            <span class="hover">
                                Opened Jobs
                            </span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END OF EMPLOYER DASHBOARD EXPERIENCE -->

<!-- FULLSCREEN CANVAS FOR CREATING BLUEPRINT -->
<div id="myNav" class="overlay-offcanvas">
    <a id="back-btn" class="hide-button" onclick="closeBigNav()">
        <span id="advanced-span" class="show-button">
            &times;
        </span>
        <span id="advanced-span-2" class="hover show-button">
            &times;
        </span>
    </a>
    <a id="apply-btn" class="hide-button" ng-click="createBlueprint()">
        <span id="apply-span" class="hide-button">
            Finish
        </span>
        <span id="apply-span-2" class="hover hide-button">
            Finish
        </span>
    </a>
    <img class="blueprintImage" src="/static/img/blueprint.jpg">
    <div class="blueprintContainer">
        <div class="row" style="padding-top: 30px;">
            <span class="new blueprintLabel"> Blueprint Name </span>
            <input type="text" 
                   class="form-control blueprintInput blueprintName" 
                   name="name"
                   title="Blueprint Name"
                   ng-model="make_blueprint.name"
                   required>
        </div>
        <!--hr class="hrTopTen"-->
        <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
            <span class="new blueprintLabel"> Description </span>
            <textarea name="Blueprint Description"
                   ng-model="make_blueprint.description"
                   class="blueprintDesc" rows="4" cols="50"></textarea>
        </div>
        <!--hr class="hrTopTen"-->
        <div class="row" style="padding-top: 15px;">
            <span class="new blueprintLabel"> Company Name </span>
            <input type="text" 
                   name="company name"
                   title="Company Name"
                   class="form-control blueprintInput blueprintCompany"
                   ng-model="make_blueprint.company_name"
                   required>
        </div>
        <div class="row">
            <span class="new blueprintLabel"> Team ID </span>
            <input type="text" 
                   name="team id"
                   title="Team ID"
                   class="form-control blueprintTeamID"
                   ng-model="make_blueprint.team_id" 
                   required>
        </div>
        <!--hr class="hrTopTen"-->
        <div class="row" style="padding-bottom: 15px;">
            <span class="new blueprintLabel"> Industry </span>
            <select class="form-control blueprintInput"
                    title="Select Industry of Your Company"
                    name="job_industry"
                    ng-model="make_blueprint.related_industry"
                    ng-options="option.id*1 as option.type_industry for option in industry_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel"> Employer Size </span>
            <select class="form-control blueprintInput"
                    title="Select Your Company Type"
                    name="employer_size"
                    ng-model="make_blueprint.related_company_type"
                    ng-options="option.id*1 as option.types_of_company for option in company_type_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel marginBlueprint"> Job Function </span>
            <input type="text" 
                   name="job function"
                   title="Job Function"
                   class="form-control inputSizeFix"
                   ng-model="make_blueprint.function"
                   style="text-transform: uppercase;"
                   required>
            <span class="new blueprintLabel"> Experience </span>
            <select class="form-control blueprintInput"
                    title="Select Desired Job Experience"
                    name="experience info"
                    ng-model="make_blueprint.related_experience"
                    ng-options="option.id*1 as option.experience_level for option in experience_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel"> Location </span>
            <select class="form-control blueprintInput"
                    title="Select Job Location"
                    name="location info"
                    ng-model="make_blueprint.related_location"
                    ng-options="option.id*1 as option.location for option in location_info">
                    <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel"> Job Type </span>
            <select class="form-control blueprintInput"
                    title="Select Job Type"
                    name="job type"
                    ng-model="make_blueprint.related_job_type"
                    ng-options="option.id*1 as option.employment for option in job_type_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel"> Wait Interval </span>
            <select class="form-control blueprintInput" 
                    name="wait interval"
                    title="Select Wait Interval"
                    ng-model="make_blueprint.related_wait_interval"
                    ng-options="option.id*1 as option.response_time for option in wait_interval_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel marginBlueprint"> On Success </span>
            <select class="form-control blueprintInput"
                    title="Select On Job Success"
                    name="On success"
                    ng-model="make_blueprint.related_on_success"
                    ng-options="option.id*1 as option.success for option in on_job_success_info">
            <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel marginBlueprint"> Job Duration </span>
            <select class="form-control blueprintInput"
                    title="Select Job Duration"
                    name="job duration"
                    ng-model="make_blueprint.related_job_duration"
                    ng-options="option.id*1 as option.job_duration for option in job_duration_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel"> Salary Range </span>
            <select class="form-control blueprintInput"
                    title="Select Salary Range"
                    name="salary range"
                    ng-model="make_blueprint.related_salary"
                    ng-options="option.id*1 as option.sal_range for option in salary_info">
                <option value="" ng-show="false"></option>
            </select>
        </div>
        <!--hr class="hrTopTen"-->
        <div class="row" style="padding-top: 15px; padding-bottom: 5px;">
            <span class="new blueprintLabel"> Qualification </span>
            <input type="text"
                   title="Qualification"
                   class="form-control blueprintInput inputSizeFix"
                   name="professional qualifications"
                   ng-model="make_blueprint.professional_qualifications"
                   required>
            <span class="new blueprintLabel"> Practice Limit </span>
            <input type="number"
                   title="Practice Limit"
                   name="practice limit"
                   class="form-control inputSizeFix"
                   ng-model="make_blueprint.practice_limit" 
                   required>
            <span class="new blueprintLabel"> Remote Work </span>
            <input type="text" 
                   name="remote work"
                   title="Remote Work"
                   style="text-transform: uppercase;"
                   class="form-control inputSizeFix"
                   ng-model="make_blueprint.remote_work" 
                   required>
            <span class="new blueprintLabel"> Visa Status </span>
            <select class="form-control blueprintInput"
                    title="Select Required Visa"
                    name="visa status"
                    ng-model="make_blueprint.related_visa_status"
                    ng-options="option.id*1 as option.visa for option in visa_status_info">
                <option value="" ng-show="false"></option>
            </select>
            <span class="new blueprintLabel"> Max Queue </span>
            <input type="number" 
                   name="max queue"
                   title="Max Queue"
                   class="form-control inputSizeFix"
                   ng-model="make_blueprint.max_queue" 
                   required>
            <span class="new blueprintLabel"> Company Url </span>
            <input type="text"
                   title="Company Url"
                   name="interview url"
                   style="text-transform: uppercase;"
                   class="form-control inputSizeFix blueprintName"
                   ng-model="make_blueprint.url" 
                   required>
        </div>
        <!--hr class="hrTopTen"-->
    </div>
    <div id="TasksBlueprint" class="blueprintTasksContainer" style="margin-bottom: 15px; padding-bottom: 10px;">
        <div id="hiddenTasks">
            <div id="tasksContainer">
                <div id='tasks'>
                    <span class="tasksLabel"> Blueprint Task </span>
                    <select class='form-control blueprintTasksInput'
                            title="Select Blueprint Task"
                            id='selectTask'
                            name='blueprint tasks'
                            ng-model='make_blueprint_tasks'
                            ng-options='option.id*1 as option.name for option in blueprint_tasks'>
                        <option value=''></option>
                    </select>
                    <div></div>
                </div>
                <div id='refs'>
                    <div class="tasksLabel" style="/*padding-right: 25%;*/"> Employee </div>
                    <span class='form-control blueprintRefsInput' data-toggle='dropdown'>Select</span>
                    <ul class='dropdown-menu refsFix'>
                        <div ng-repeat="employee in desired_employees_info">
                            <label>
                                <input type='checkbox'
                                       id="{{ employee.id }}"
                                       style="margin-left: 10px;"
                                       class='faChkSqr small'
                                       onclick="assignEmployee(this)"
                                       emailName ="{{employee.email}}">
                                <span style="cursor: pointer;" data-ng-bind="employee.email"></span></br/>
                            </label>
                        </div>
                    </ul>
                </div>
                <button class='btn rem-btn'>
                    <span id='apply-span' class='apply-span'>
                        Remove
                    </span>
                    <span id='apply-span-2' class='hover hide-button'>
                        Remove
                    </span>
                </button>
            </div>
        </div>
        <div id="clonedTasks" style="display: inherit;">

        </div>
    </div>
    <div id="TasksBlueprint" class="blueprintTasksContainer" style="margin-top: -20px; padding-top: 10px;">
        <div add-div-directive style="display: inline;"></div>
        <!--a class="btn add-btn"
           id="addNewRow" ng-click="clickToClone('hiddenTasks', 'clonedTasks')">
            <span id="apply-span">
                Add Task
            </span>
            <span id="apply-span-2" class="hover hide-button">
                Add Task
            </span>
        </a-->
        <a class="btn add-btn" onclick="openCreateTasks()">
            <span id="apply-span">
                Create Task
            </span>
            <span id="apply-span-2" class="hover hide-button">
                Create Task
            </span>
        </a>        
        <a class="btn add-btn" onclick="openCreateEmployee()">
            <span id="apply-span">
                Create Employee
            </span>
            <span id="apply-span-2" class="hover hide-button">
                Create Employee
            </span>
        </a>
    </div>
    <div class="blueprintContainer" style="margin-top: -10px;">
        <div class="row" style="padding-top: 10px;">
            <center>
                <div class="previewImage">
                    <img ngf-thumbnail="preview">
                </div>
                <a class="btn advanced-btn" ngf-select="upload($file)" ng-if="work_env1">
                    <span id="apply-span">
                        Add Work Environment
                    </span>
                    <span id="apply-span-2" class="hover hide-button">
                        Add Work Environment
                    </span>
                </a>
                <a class="btn advanced-btn" ngf-select="upload2($file)" ng-if="work_env2">
                    <span id="apply-span">
                        Add Another Environment
                    </span>
                    <span id="apply-span-2" class="hover hide-button">
                        Add Another Environment
                    </span>
                </a>
            </center>
        </div>
    </div>
</div>
<!-- END OF FULLSCREEN CANVAS FOR CREATING BLUEPRINT -->

<aside ng-if="no_employee_task_errors || no_task_errors || no_employee_errors || no_work_env_errors || field_errors"
       id="errorCanvas" class="displayError">
    <div class="captionError">Input fields error</div>
    <span class="blueprintError" ng-if="no_employee_task_errors" ng-bind="no_employee_task_error"></span>
    <span class="blueprintError" ng-if="no_task_errors" ng-bind="no_task_error"></span>
    <span class="blueprintError" ng-if="no_employee_errors" ng-bind="no_employee_error"></span>
    <span class="blueprintError" ng-if="no_work_env_errors" ng-bind="no_work_env_error"></span>
    <span class="blueprintError" ng-if="field_errors" ng-bind="field_error"></span>
    <a id="back-btn" ng-click="closeErrorCanvas()"
       style="display: block; margin-left: 5%;
       bottom: -14px; position: relative;">
        <span id="advanced-span" class="show-button">
            &times;
        </span>
        <span id="advanced-span-2" class="hover show-button">
            &times;
        </span>
    </a>
</aside>


<!-- CREATE TASK CANVAS -->
<aside id="createTask" class="createTask">
    <span class="tasksLabel"> Blueprint Task </span>
    <input class='form-control createTaskInput' 
           id='selectTask'
           title="blueprint task"
           name='blueprint tasks' 
           ng-model='newBlueprintTask.name'> 
    <span class="tasksLabel" style="padding-top: 15px;"> Job Function </span>
    <!--select class='form-control createTaskInput' 
            id='selectTask' 
            name='blueprint tasks' 
            ng-model='newBlueprintTask.function' 
            ng-options='ooption.function as ooption.function for ooption in make_blueprint.function'>
        <option value='' ng-show='false'></option>
    </select-->
    <input class='form-control createTaskInput' 
           id='selectTask'
           title="job function"
           name='blueprint tasks' 
           ng-model='newBlueprintTask.function'> 
    <a class="btn add-btn" onclick="CreateTasks()"
       style="display: block; width: 40%;
       margin-left: 55%; margin-top: 15px;">
        <span id="apply-span">
            Create Task
        </span>
        <span id="apply-span-2" class="hover hide-button">
            Create Task
        </span>
    </a>     
    <a id="back-btn" onclick="closeCreateTasks()"
       style="display: block; margin-left: 5%;
       bottom: 55px; position: relative;">
        <span id="advanced-span" class="show-button">
            &times;
        </span>
        <span id="advanced-span-2" class="hover show-button">
            &times;
        </span>
    </a>
</aside>
<!-- END OF CREATE TASK CANVAS -->


<!-- CREATE EMPLOYEE CANVAS -->
<aside id="createEmployee" class="createEmployee">
    <span class="tasksLabel"> First Name </span>
    <input class='form-control createTaskInput' 
           id='selectTask' 
           type="text" 
           name='blueprint tasks'
           title="first name"
           ng-model='desiredEmployee.first_name' 
           style="margin-top: 15px; width: 90%; margin-left: 5%;">
    <span class="tasksLabel" style="padding-top: 10px;"> Last Name </span>
    <input class='form-control createTaskInput' 
           id='selectTask'
           title="last name"
           name='blueprint tasks' 
           type="text" 
           ng-model='desiredEmployee.last_name' 
           style="margin-top: 15px; width: 90%; margin-left: 5%;">
    <span class="tasksLabel" style="padding-top: 10px;"> Email </span>
    <input class='form-control createTaskInput' 
           id='selectTask'
           title="email"
           type="email"
           name='blueprint tasks' 
           ng-model='desiredEmployee.email' 
           style="margin-top: 15px; width: 90%; margin-left: 5%;">           
    <span class="tasksLabel" style="padding-top: 10px;"> Phone Number </span>
    <input class='form-control createTaskInput' 
           id='selectTask'
           type="number"
           title="phone number"
           name='blueprint tasks' 
           ng-model='desiredEmployee.phone_number' 
           style="margin-top: 15px; width: 90%; margin-left: 5%;">

    <a class="btn add-btn" onclick="CreateEmployee()"
       style="display: block; width: 40%;
       margin-left: 55%; margin-top: 15px;">
        <span id="apply-span">
            Create Employee
        </span>
        <span id="apply-span-2" class="hover hide-button">
            Create Employee
        </span>
    </a>     
    <a id="back-btn" onclick="closeCreateEmployee()"
       style="display: block; margin-left: 5%;
       bottom: 55px; position: relative;">
        <span id="advanced-span" class="show-button">
            &times;
        </span>
        <span id="advanced-span-2" class="hover show-button">
            &times;
        </span>
    </a>
</aside>
<!-- END OF CREATE EMPLOYEE CANVAS -->

<!-- SMALL CANVAS MENU -->
<aside id="sidenav" class="sidenav" ng-controller='LogoutCtrl'>
    <a href="javascript:void(0)" class="closebtn closenav" onclick="closeNav()">&times;</a>
    <span class="label-close" style="color: rgb(255,255,255); margin-top: 3px; margin-right: 12px;">CLOSE</span>
    <div class="">
        <h3 data-ng-bind="user.username"></h3>
    </div>
    <!--a data-ui-sref="root.dashboard">Dashboard</a-->
    <a data-ui-sref="root.profile" data-ng-class="{active: state.includes('root.profile')}" class="menu-item" style="padding-top: 40px;">Profile</a>
    <a class="menu-item" data-toggle="collapse" data-target="#toggleViews">Display</a>
    <div id="toggleViews" class="collapse dropdown-fix">
        <span id="mobilePlatform">Mobile Display</span>
        <div id="pcDisplay">
            <!--a class="row1inLine" ng-if="!user.profile_type" onclick="employerSelect1Row()"></-a>
            <a class="row1inLine" ng-if="user.profile_type" onclick="seekerSelect1Row()"></a-->
            <a class="row2inLine" ng-if="!user.profile_type" onclick="employerSelect2Row()"></a>
            <a class="row2inLine" ng-if="user.profile_type" onclick="seekerSelect2Row()"></a>
            <a class="row4inLine" ng-if="!user.profile_type" onclick="employerSelect4Row()"></a>
            <a class="row4inLine" ng-if="user.profile_type" onclick="seekerSelect4Row()"></a>
        </div>
    </div>
    <a href='' class="menu-item" style="margin-top: 2em;" ng-click="logoutNow()">Logout</a>
</aside>
<!-- END OF SMALL CANVAS MENU -->
<script type="text/javascript">
/*=================================================
                Check display size
==================================================*/
function checkSize() {
    var mobPlat = document.getElementById('mobilePlatform'),
        pcPlat = document.getElementById('pcDisplay');
    if($(window).width() < 767 ){
        mobPlat.style.display = 'block';
        pcPlat.style.display = 'none';
    } else {
        mobPlat.style.display = 'none';
        pcPlat.style.display = 'block';
    }
}
$(document).ready(checkSize);
</script>
<script type="text/javascript">

    var bodyEl = document.body,
        content = document.querySelector( '.content-wrap' ),
        content_emp = document.querySelector( '.content-wrap-emp' ),
        openbtn = document.getElementById( 'open-button' ),
        openbtn_emp = document.getElementById( 'open-button-emp' ),
        closebtn = document.getElementById( 'close-button-job' ),
        closebtn_emp = document.getElementById( 'close-button-emp' ),
        isOpen = false,
        isOpenEmp = false,
        userBtn = document.getElementById('user-nav'),
        userBtnEmp = document.getElementById('user-nav-emp'),
        empBtn1 = document.getElementById('dashboard-emp-btn1'),
        empBtn2 = document.getElementById('dashboard-emp-btn2'),
        empBtn3 = document.getElementById('dashboard-emp-btn3'),
        seekBtn1 = document.getElementById('dashboardBtn1'),
        seekBtn2 = document.getElementById('dashboardBtn2'),
        seekBtn3 = document.getElementById('dashboardBtn3'),
        seekBtn4 = document.getElementById('dashboardBtn4'),
        seekBtn5 = document.getElementById('dashboardBtn5'),
        seekBtn6 = document.getElementById('dashboardBtn6'),
        seekBtn7 = document.getElementById('dashboardBtn7'),
        seekBtn8 = document.getElementById('dashboardBtn8'),
        dashEmp = document.getElementById('dashIcruitsEmp');

    function init() {
        initEvents();
    }

    function initEvents() {
        openbtn_emp.addEventListener( 'click', toggleMenuEmp );
        if( closebtn_emp ) {
            closebtn_emp.addEventListener( 'click', toggleMenuEmp );
        }
        openbtn.addEventListener( 'click', toggleMenu );
        if( closebtn ) {
            closebtn.addEventListener( 'click', toggleMenu );
        }

        // close the menu element if the target it´s not the menu element or one of its descendants..
        content.addEventListener( 'click', function(ev) {
            var target = ev.target;
            if (isOpen && target !== openbtn) {
                toggleMenu();
            }
        });
        content_emp.addEventListener( 'click', function(ev) {
            var target = ev.target;
            if( isOpenEmp && target !== openbtn_emp ) {
                toggleMenuEmp();
            }
        } );
    }

    function toggleMenu() {
        if( isOpen ) {
            classie.remove( bodyEl, 'show-menu' );
            classie.remove( userBtn, 'hide-button' );
            classie.remove( seekBtn1, 'hide-button' );
            classie.remove( seekBtn2, 'hide-button' );
            classie.remove( seekBtn3, 'hide-button' );
            classie.remove( seekBtn4, 'hide-button' );
            classie.remove( seekBtn5, 'hide-button' );
            classie.remove( seekBtn6, 'hide-button' );
            classie.remove( seekBtn7, 'hide-button' );
            classie.remove( seekBtn8, 'hide-button' );
            $('body').css({
                'overflow-y': 'auto',
                'overflow-x': 'auto'
            });
            $('.content-wrap').css({
                'overflow-y': 'hidden',
                'overflow-x': 'auto'
            });
            // animate path
        }
        else {
            classie.add( bodyEl, 'show-menu' );
            classie.add( userBtn, 'hide-button' );
            classie.add( seekBtn1, 'hide-button' );
            classie.add( seekBtn2, 'hide-button' );
            classie.add( seekBtn3, 'hide-button' );
            classie.add( seekBtn4, 'hide-button' );
            classie.add( seekBtn5, 'hide-button' );
            classie.add( seekBtn6, 'hide-button' );
            classie.add( seekBtn7, 'hide-button' );
            classie.add( seekBtn8, 'hide-button' );
            $('body').css({
                'overflow-y': 'auto',
                'overflow-x': 'hidden'
            });
            $('.content-wrap').css({
                'overflow-y': 'hidden',
                'overflow-x': 'hidden'
            });
            // animate path
        }
        isOpen = !isOpen;
    }

    function toggleMenuEmp() {
        if( isOpenEmp ) {
            classie.remove( bodyEl, 'show-menu-emp' );
            classie.remove( userBtnEmp, 'hide-button' );
            classie.remove( empBtn1 , 'hide-button' );
            classie.remove( empBtn2 , 'hide-button' );
            classie.remove( empBtn3 , 'hide-button' );
            /*classie.remove(filterBtn, 'hide-button');*/
            // animate path
            $('body').css({
                'overflow-y': 'auto',
                'overflow-x': 'auto'
            });
            $('.content-wrap').css({
                'overflow-y': 'auto',
                'overflow-x': 'auto'
            });
            dashEmp.style.top = '0'
        }
        else {
            classie.add( bodyEl, 'show-menu-emp' );
            classie.add( userBtnEmp, 'hide-button' );
            classie.add( empBtn1, 'hide-button' );
            classie.add( empBtn2, 'hide-button' );
            classie.add( empBtn3, 'hide-button' );
            /*classie.add(filterBtn, 'hide-button');*/
            $('body').css({
                'overflow-y': 'auto',
                'overflow-x': 'hidden'
            });
            $('.content-wrap').css({
                'overflow-y': 'hidden',
                'overflow-x': 'hidden'
            });
            // animate path
            dashEmp.style.top = '-75px'
        }
        isOpenEmp = !isOpenEmp;
    }

    function fixMenu() {
        if(classie.has(bodyEl, 'show-menu')) {
            classie.remove(bodyEl, 'show-menu');
        }
        if(classie.has(bodyEl, 'show-menu-emp')){
            classie.remove(bodyEl, 'show-menu-emp')
        }
        /*classie.remove(filterBtn, 'hide-button');*/
    }

    init();
    var fixer = true;
    if(fixer) {
        $(window.location).trigger("change", fixMenu());
        fixer = false;
    }

</script>
<!--script>
$("#addNewRow").click(function(){
    //var taskId = $('#selectTask').val().replace('number:', '');
    //var taskName = $('#selectTask option:selected').text();
    //var expertEmail = $('#expId').text();
    //$('#selectTask').find('option[value='+taskId+']').attr('disabled','disabled');
    $('#hiddenTasks:last').after("<div><div id='tasks'><select class='form-control blueprintTasksInput' " +
        "id='selectTask' name='blueprint tasks' ng-model='make_blueprint.related_tasks'" +
        " ng-options='option.id*1 as option.name for option in blueprint_tasks'>" +
        "<option value='' ng-show='false'></option></select></div><div id='refs'>" +
        "<span class='form-control blueprintRefsInput' data-toggle='dropdown'>Select</span>" +
        "<ul class='dropdown-menu refsFix'><li ng-repeat='employee in desired_employees_info'>" +
        "<a class='small' data-value='option1' tabIndex='-1'>" +
        "<input type='checkbox' class='faChkSqr' ng-model='make_blueprint.employee'>" +
        "<span data-ng-bind='employee.email'></span></a></li></ul><button class='btn rem-btn'>" +
        "<span id='apply-span' class='apply-span'>Remove</span>" +
        "<span id='apply-span-2' class='hover hide-button'>Remove</span></button></div></div>");

    // method to push objects into make_blueprint_tasks
    // call angular addTask
</script-->
<!--script>
    $("#selectTask").click(function () {
        var task = $('#selectTask option:selected').text();
        angular.element(document.getElementById('selectTask')).scope().addNewTask(task);
    });
</script-->
<script>
    function assignTasks(selectedTask) {
        // body...
        console.log(selectedTask);
        var task = $('#selectTask:last option:selected').text();
        angular.element(document.getElementById('selectTask')).scope().addTask(task);
    }
</script>
<script>
    function assignEmployee(clickedCheckbox) {
        var tmp = clickedCheckbox.parentNode.parentNode.parentNode.parentNode.children[1].innerText,
            desiredEmp = clickedCheckbox.getAttribute("emailName"),
            temp = tmp.split(', '),
            final = '';
        if (clickedCheckbox.checked) {
            if (tmp === 'SELECT'){
                clickedCheckbox.parentNode.parentNode.parentNode.parentNode.children[1].innerText = clickedCheckbox.getAttribute("emailName");
            } else {
                clickedCheckbox.parentNode.parentNode.parentNode.parentNode.children[1].innerText = tmp + ", " + clickedCheckbox.getAttribute("emailName");
            }
        } else {
            if(typeof temp[1] === 'undefined'){
                clickedCheckbox.parentNode.parentNode.parentNode.parentNode.children[1].innerText = 'SELECT'
            } else {
                if(typeof temp[2] === 'undefined') {
                    for (var i = 0; i < temp.length; i++) {
                        if (temp[i].toLowerCase() !== desiredEmp) {
                            clickedCheckbox.parentNode.parentNode.parentNode.parentNode.children[1].innerText = temp[i].toUpperCase();
                        }
                    }
                } else {
                    for (var j = 0; j < temp.length; j++){
                        if (temp[j].toLowerCase() !== desiredEmp){
                            final += ', ' + temp[j].toUpperCase();
                        }
                    }
                    clickedCheckbox.parentNode.parentNode.parentNode.parentNode.children[1].innerText = tmp + final;
                }
            }
        }
        angular.element(document.getElementById('selectTask')).scope().addEmployeeId(clickedCheckbox.id);
    }
</script>
<script>
$("#TasksBlueprint").on('click','.rem-btn',function(){
    var taskId = $(this).parent().parent('tr').find('td:eq(1)').find('input[type=hidden]').val();

    function removeSelectedTask(taskId) {
        // body...
        angular.element(document.getElementById('selectTask')).scope().removeTask(taskId);
    }

    removeSelectedTask(taskId);
    $(this).parent().remove();
    $(this).remove();
});
</script>

<script type="text/javascript">
var options = [];

$( '.dropdown-menu a' ).on( 'click', function( event ) {

   var $target = $( event.currentTarget ),
       val = $target.attr( 'data-value' ),
       $inp = $target.find( 'input' ),
       idx;

   if ( ( idx = options.indexOf( val ) ) > -1 ) {
      options.splice( idx, 1 );
      setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
   } else {
      options.push( val );
      setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
   }

   $( event.target ).blur();
      
   return false;
});
</script>

<script type="text/javascript">
    function CreateTasks() {
    // body...
        document.getElementById("createTask").style.visibility = "hidden";
        document.getElementById("createTask").style.opacity = "0";
        angular.element(document.getElementById('createTask')).scope().createBlueprintTask();
    }
</script>

<script type="text/javascript">
    function CreateEmployee() {
    // body...
        document.getElementById("createEmployee").style.visibility = "hidden";
        document.getElementById("createEmployee").style.opacity = "0";
        angular.element(document.getElementById('createEmployee')).scope().createDesiredEmployee();
    }
</script>
<script type="text/javascript">$('html,body').css({'height': 'auto'});</script>