<nav class="dashHeader text-center fixed top"><span>ICRUITS</span></nav>
<section id="pages">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 border-left">
				<h1 class="section-title text-center cookie-h1">User Agreement</h1>
				<div class="body-content text-justify">
					<p>Effective Date: June 25, 2017</p>
                    <p><span style="font-weight: 400">
                        This User Agreement (this “</span><strong>Agreement</strong>
                        <span style="font-weight: 400">”) is a contract between you (“</span>
                        <strong>you</strong><span style="font-weight: 400">” or “</span>
                        <strong>User</strong><span style="font-weight: 400">”) and iCruits (“</span>
                        <strong>iCruits</strong><span style="font-weight: 400">”, “</span>
                        <strong>we</strong><span style="font-weight: 400">,” or “</span><strong>us.</strong>
                        <b> </b><span style="font-weight: 400">
                            You must read, agree to, and accept all of the terms and conditions contained in this Agreement in
                            order to use our website located at </span>
                        <a href="https://icruits.herokuapp.com">
                            <span style="font-weight: 400">icruits.</span><span style="font-weight: 400">herokuapp</span>
                            <span style="font-weight: 400">.com</span>
                        </a>
                        <span style="font-weight: 400">, all affiliated websites,
                            including mobile websites and applications, owned and operated by us, our predecessors or successors in interest,
                            or our Affiliates (collectively, the “
                        </span><strong>Site</strong><span style="font-weight: 400">”), all services,
                            applications and products that are accessible through the Site and all
                            iCruits mobile applications that link to or reference this Agreement whether provided by us or our Affiliates.
                        </span>
                    </p>

                    <p>
                        <span style="font-weight: 400">
                            This Agreement includes and hereby incorporates by reference the following:
                            Cookie Policy; Terms of Use are available at
                        </span>
                        <a data-ui-sref="root.terms_of_use">
                            <span style="font-weight: 400">
                                terms of use
                            </span>
                        </a>
                        <span style="font-weight: 400">.</span>
                    </p>
                    <p>
                        <span style="font-weight: 400">
                            Subject to the conditions set forth herein, iCruits may, in its sole discretion,
                            amend this Agreement and the other Terms of Service at any time by posting a revised
                            version on the Site and will provide reasonable advance notice of any amendment that
                            includes a Substantial Change.
                        </span>
                    </p>
                    <p>
                        <span style="font-weight: 400">
                            Your continued use of the Site or the Site Services after the
                            Effective Date of a revised version of this Agreement or of any other
                            Terms of Service constitutes your acceptance of and agreement to be bound by
                            the Terms of Service as revised.  In the event of a conflict between this
                            Agreement and the other Terms of Service, this Agreement will control unless
                            the other Agreement explicitly states that it controls.
                            Capitalized terms are defined throughout this Agreement and in Section 23 (Definitions).
                        </span>
                    </p>
                    <p>
                        <span style="font-weight: 400">
                            YOU UNDERSTAND THAT BY USING THE SITE OR SITE SERVICES AFTER THE EFFECTIVE DATE,
                            YOU AGREE TO BE BOUND BY THE TERMS OF SERVICE,
                            INCLUDING THE MANDATORY BINDING ARBITRATION AND CLASS ACTION/JURY TRIAL WAIVER.
                            IF YOU DO NOT ACCEPT THE TERMS OF SERVICE IN ITS ENTIRETY,
                            YOU MUST NOT ACCESS OR USE THE SITE OR THE SITE SERVICES AFTER THE EFFECTIVE DATE.
                            IF YOU AGREE TO THE TERMS OF SERVICE ON BEHALF OF AN ENTITY,
                            OR IN CONNECTION WITH PROVIDING OR RECEIVING SERVICES ON BEHALF OF AN ENTITY OR AGENCY,
                            YOU REPRESENT AND WARRANT THAT YOU HAVE THE AUTHORITY TO
                            BIND THAT ENTITY OR AGENCY TO THE TERMS OF SERVICE.
                            IN THAT EVENT, “YOU” AND “YOUR” WILL REFER AND APPLY TO THAT ENTITY OR AGENCY.
                        </span>
                    </p>
                    <h2><b><b>1.  DIGITAL SIGNATURE</b></b></h2>
                    <p>
                        <span style="font-weight: 400">
                            By registering for an iCruits account on the Site (an “
                        </span><strong>Account</strong>
                        <span style="font-weight: 400">”), or by clicking to accept the Terms of Service when prompted on the Site,
                            you are deemed to have executed this Agreement and the other Terms of Service electronically,
                            effective on the date you register your Account or click to accept the Terms of Service,
                            pursuant to the U.S. Electronic Signatures in Global and National
                            Commerce Act (the E-Sign Act) (15 U.S.C. § 7001, et seq.).
                            Your Account registration constitutes an acknowledgement that you are
                            able to electronically receive, download, and print this Agreement,
                            the other Terms of Service, and any amendments.
                        </span>
                    </p>
                    <h2><b><b>2.  CONSENT TO USE ELECTRONIC RECORDS</b></b></h2>
                    <p>
                        <span style="font-weight: 400">
                            In connection with the Terms of Service, you may be entitled to receive certain
                            records from iCruits or our Affiliates, such as contracts, notices, and communications,
                            in writing.  To facilitate your use of the Site and the Site Services, you give us
                            permission to provide these records to you electronically instead of in paper form.
                        </span>
                    </p>
                    <h3><b><b>2.1 Your Consent and Your Right to Withdraw Consent</b></b></h3>
                    <p>
                        <span style="font-weight: 400">
                            By registering for an Account, you consent to electronically receive and access,
                            via email or the Site, all records and notices for the services provided to you
                            under the Terms of Service that we or our Affiliates would otherwise be required
                            to provide to you in paper form.  However, we reserve the right, in our sole discretion,
                            to communicate with you via the U.S. Postal Service and other third-party mail services
                            using the address under which your account is registered.  Your consent to receive records
                            and notices electronically will remain in effect until you withdraw it.
                            You may withdraw your consent to receive further records and notices electronically at
                            any time by contacting Customer Support.  If you withdraw your consent to
                            receive such records and notices electronically, we will revoke your access to the
                            Site and the Site Services, and you will no longer be permitted to use the Site or the
                            Site Services.  Any withdrawal of your consent to receive records and notices
                            electronically will be effective only after we have a reasonable period of time to
                            process your request for withdrawal.  Please note that your withdrawal of consent to
                            receive records and notices electronically will not apply to records and notices
                            electronically provided by us to you before the withdrawal of your consent becomes effective.
                        </span>
                    </p>
                    <h3><b>2.2</b> <b>Keeping Your Address and Email Address Current With Us</b></h3>
                    <p>
                        <span style="font-weight: 400">
                            In order to ensure that we are able to provide records and notices to you electronically,
                            you agree to notify us immediately of any change in your email address by updating your
                            Account information on the Site or by contacting Customer Support.
                            In addition, so that we may communicate with you via the U.S. Postal Service and other
                            third-party mail services, you agree to notify us immediately of any change in your address.
                        </span>
                    </p>
                    <h3><b>2.3</b> <b>Hardware and Software You Will Need to Use the Site Services for Your Business</b></h3>
                    <p>
                        <span style="font-weight: 400">
                            To access and retain the records and notices we provide to you electronically,
                            you will need: (a) a valid email address; (b) a computer system that operates
                            on a platform like Windows or Mac; (c) a connection to the Internet;
                            (d) Current Versions of the software, browsers, plug-ins, or other computer
                            applications and programs identified on the Site (Users utilizing other browsers may
                            experience compatibility difficulties); (d) a Current Version of a program that
                            accurately reads and displays PDF files, such as the Current Version of Adobe Acrobat Reader;
                            (e) a computer or device and an operating system capable of supporting all of the above; and
                            (f) a printer to print out and retain records and notices in paper form or electronic storage to
                            retain records and notices in an electronic form.  By “
                        </span><strong>Current Version</strong>
                        <span style="font-weight: 400">”, we mean a version of the software that is currently being supported by its publisher.
                            We may change these requirements from time to time and will update this Agreement accordingly.
                            You should retain a copy of all of the records and notices we send to you electronically.
                        </span>
                    </p>
                    <p>
                        <span style="font-weight: 400">
                            By accepting and agreeing to this Agreement and the other Terms of Service electronically,
                            you represent that (x) you have read and understand the above consent to receive records
                            and notices electronically; (y) you satisfy the minimum hardware and software requirements
                            specified above; and (z) your consent will remain in effect until you withdraw your consent as specified above.
                        </span>
                    </p>
                    <h2><b><b>3. iCRUITS ACCOUNTS</b></b></h2>
                    <h3><b>3.1 Account Eligibility</b></h3>
                    <p>
                        <span style="font-weight: 400">
                            To use the Site, VR Simulator, Application and Services, you must register for an Account.
                            iCruits offers the Site and Site Services for your business purposes only, and not for personal,
                            household, or consumer use.  To use the Site and Site Services, you must have,
                            and hereby represent that you have, an independent business (whether it be as a
                            self-employed individual/sole proprietor or as a corporation or other entity) and further
                            represent that you intend to use the Site and Site Services for your business purposes only,
                            unless you use the Site and Site Services solely as an employee and
                            Agency Member of a registered Agency Account.
                            You understand that you must comply with any licensing or registration requirements
                            with respect to your business, and you represent that you comply with all such requirements.
                            To register for an Account, you must be, and hereby represent that you are, a legal entity
                            or an individual 18 years or older who can form legally binding contracts.
                            By registering for an Account, by using the Site or Site Services after the
                            Effective Date if you had an account on the Effective Date, or by clicking to
                            accept the Terms of Service when prompted on the Site,
                            you agree to: (a) abide by this Agreement and the other Terms of Service; and (b) perform
                            your obligations as specified by any Service Contract that you
                            enter into, unless such obligations are prohibited by applicable law or the Terms of Service.
                            iCruits reserves the right, in our sole discretion, to refuse, suspend, or revoke your
                            access to the Site and Site Services upon discovery that any information you provided on
                            any form or posted on the Site is not true, accurate, or complete, or such information or
                            other conduct otherwise violates the Terms of Service, or for any other reason or no reason in iCruits’s sole discretion.
                        </span>
                    </p>
                    <p>
                        <span style="font-weight: 400">
                            You represent that you are not: (x) a citizen or resident of a geographic area in
                            which access to or use of the Site or Site Services is prohibited by applicable law,
                            decree, regulation, treaty, or administrative act; (y) a citizen or resident of, or
                            located in, a geographic area that is subject to U.S. or other sovereign country
                            sanctions or embargoes; or (z) an individual, or an individual employed by or
                            associated with an entity, identified on the U.S. Department of Commerce’s Denied Persons
                            or Entity List, the U.S. Department of Treasury’s Specially Designated Nationals
                            or Blocked Persons Lists, or the U.S. Department of State’s Debarred Parties List
                            or otherwise ineligible to receive items subject to U.S. export control laws
                            and regulations or other economic sanction rules of any sovereign nation.
                            You agree that if your country of residence or other circumstances change such
                            that the above representations are no longer accurate, that you will immediately cease using the Site and Site Services.
                        </span>
                    </p>
                    <h3><b><b>3.2 Account Registration; Profile</b></b></h3>
                    <p>
                        <span style="font-weight: 400">
                            By registering for an account, you must complete a
                            User profile (“
                        </span><strong>Profile</strong>
                        <span style="font-weight: 400">”). If you are a Job Seeker, unless you use the
                            Site as an employee and Agency Member of a registered Agency Account, you
                            represent and warrant that you use your Profile to market your business to others for
                            the purpose of entering into independent contractor relationships with Employees.
                            You agree to provide true, accurate, and complete information on your
                            Profile and all registration and other forms you access on the Site or provide
                            to us and to update your information to maintain its truthfulness, accuracy, and
                            completeness.  You agree not to provide and to correct any information about your
                            location, your business, your skills, or the services your business provides that is
                            or becomes false or misleading.  You agree not to register for more than one Employer
                            Account or one Job Seeker Account. You agree not to ask or allow another person to
                            create an Account on your behalf, for your use, or for your benefit.
                        </span>
                    </p>
                    <h3><b><b>3.3 Identity Verification  </b></b></h3>
                    <p>
                        <span style="font-weight: 400">
                            When you register for an Account and from time to time thereafter, your
                            Account will be subject to verification, including, but not limited to,
                            validation against third-party databases or the verification of one or more official
                            government or legal documents that confirm your identity and your ability to represent
                            your business on iCruits, if it is a separate legal entity.  You authorize iCruits, directly or
                            through third parties, to make any inquiries necessary to validate your identity and confirm
                            your ownership of your email address or financial accounts, subject to applicable law.
                            When requested, you must provide us with information about you and your business.
                        </span>
                    </p>
                <h3><b><b>3.4 Agency Accounts</b></b></h3>
                <p>
                    <span style="font-weight: 400">
                    You may create an account through which other authorized Desired Employees (each, an “
                    </span><strong>Agency Member</strong>
                    <span style="font-weight: 400">
                        ”) may act on your behalf in the roles you assign
                    </span>
                    <span style="font-weight: 400">for your account</span><span style="font-weight: 400"> (an “
                    </span><strong>Employeer Account</strong>
                    <span style="font-weight: 400">”).  A Employer creates an Agency Account on behalf of a business (the “
                    </span><strong>Agency</strong><span style="font-weight: 400">”). Required by applicable law, only the User who registered the
                        Agency Account can add or remove Desired Employees to or from the Agency Account.
                    </span>
                </p>
                <p>
                    <span style="font-weight: 400">
                        Each Agency Member can or not have an Account and a Profile.
                    </span>
                    <span style="font-weight: 400">
                        Each Agency Member must be a User and must be a real person or legally recognized entity.
                        If any of your Agency Members violate the Terms of Service, it may affect your ability to use the Site.
                        Upon closure of an Agency Account, iCruits may close any or all related Accounts.
                    </span>
                </p>
                <p>
                    <span style="font-weight: 400">
                        Each Agency Member is either an employee or an independent contractor of the Agency,
                        as determined by the Agency.  Without limiting the Agency’s obligations
                        (Responsibility for Employees and Subcontractors, Including Agency Members),
                        the Agency acknowledges and agrees that it assumes all liability for the classification
                        of its Agency Members as employees or independent contractors.
                    </span>
                </p>
                <p>
                    <span style="font-weight: 400">
                        Your Agency Account and username are transferable only
                        upon iCruits approval, at iCruits’s sole discretion.
                    </span>
                </p>
                <p><span style="font-weight: 400">
                    You understand and </span><span style="font-weight: 400">agree
                </span>
                    <span style="font-weight: 400">
                        that Agency Members is Agencys sole responsibility and has nothing to do with iCruits.
                    </span>
                </p>
                <h3><b><b>3.5 Usernames and Passwords</b></b></h3>
                <p>
                    <span style="font-weight: 400">
                        When you register for an Account, you will be asked to choose a username
                        and password for the Account. Each User (Job Seeker, Employer) can change the password at any time.
                    </span>
                </p>
                <p>
                    <span style="font-weight: 400">
                        You are entirely responsible for safeguarding and maintaining the confidentiality of
                        your Account username and password.  You authorize iCruits to assume that
                        any person using the Site with your username and password, either is you or is authorized
                        to act for you.  You agree to notify us immediately if you suspect or become aware of any
                        unauthorized use of your Account or any unauthorized access to your
                        password or the password of any User of your Account.
                        You further agree not to use any username, or password of another User of the Site that
                        you are not authorized to use, and not to allow others who are not authorized to do so to
                        use your Account at any time.
                    </span>
                </p>
                <h2><strong>4. </strong><b><b>PURPOSE OF THE SITE AND SITE SERVICES</b></b></h2>
                <p>
                    The Site is a medium between employee and employer, in which employer posts job with selected tasks
                    and every other mandatory information that is required for opened job position. Employee selects a
                    job that he wishes to work, apply for it and start doing required  tasks trough simulator which will
                    be provided as Employee applies for job. Progress from simulator and information if Employee has completed
                    simulation is connected to website by VR Application, and every Employee can monitor his progress on
                    website. As Employee successfully completes simulation he is placed into queue system and await for
                    interview invitation by Employer.
                </p>
                <h3><b>User Content License</b></h3>
                <p>
                    <span style="font-weight: 400">
                        When you post User Content on the Site or through the Site Services or provide iCruits with User
                        Content, you represent and warrant that you have the right, power, and authority to post that User
                        Content and grant the licenses specified below.  You further represent and warrant that by
                        posting or providing such User Content you will not violate third-party rights of any kind,
                        including, without limitation, any Intellectual Property Rights, rights of publicity, and
                        privacy rights.  To the extent your User Content may be copyrightable, you represent, warrant,
                        and covenant that you are the owner of all the copyright rights to such User Content
                        and that iCruits may exercise the rights to your User Content granted under the
                        Terms of Service without any liability or obligation for any payment.
                    </span>
                </p>
                <p>
                    <span style="font-weight: 400">
                        You retain all ownership rights in any User Content you post on iCruits.
                        To the extent permitted by applicable law, you also grant to iCruits a royalty-free, sub-licensable, transferable, perpetual,
                        irrevocable, non-exclusive, worldwide license to use, reproduce, modify, publish,
                        list information regarding, edit, translate, distribute, publicly perform, publicly
                        display, all such User Content and your name, as contained in your User Content, in whole or in part, and in any form, media, or
                        technology, whether now known or hereafter developed, for use in connection with the Site. You also hereby grant each User a
                        non-exclusive license to access your Job Posts through the Site and to use and perform implemented job simulator.
                    </span>
                </p>
                <p>
                    <span style="font-weight: 400">
                        Notwithstanding the foregoing paragraph, iCruits will only use or disclose User Content you
                        post to any non-public area of the Site to the extent necessary to provide Site Services
                        to you as further described in our Privacy Policy.
                    </span>
                </p>
                <p>
                    <span style="font-weight: 400">
                        You may submit comments or ideas about the Site and Site Services,
                        including without limitation about how to improve the Site or Site Services
                        (collectively, “
                    </span><strong>Ideas</strong>
                    <span style="font-weight: 400">”).  By submitting any Ideas, you agree that: (a) your disclosure is voluntary,
                        gratuitous, unsolicited, and without restriction and will not place iCruits under any
                        fiduciary or other obligation, (b) your Ideas do not contain the confidential or proprietary
                        information of third parties, and (c) we are free to use the Ideas without any additional
                        compensation to you and to disclose the Ideas on a non-confidential basis or otherwise
                        to anyone.  You further acknowledge and agree that, by acceptance of your submission, iCruits
                        does not waive any rights to use similar or related ideas known or developed by iCruits or
                        obtained from sources other than you.
                    </span>
                </p>
                <h3><b>Unauthorized Access and Use; Site Interference; Malicious Software</b></h3>
                <p>
                    <span style="font-weight: 400">
                        The Site contains robot exclusion headers.  You agree that you will not use any
                        robot, spider, scraper, or other automated means to access the Site for any purpose
                        without our express written permission.  You will not access the audiovisual content
                        available on the Site for any purpose or in any manner other than streaming.
                        You agree that you will not: (a) take any action that imposes or we believe may
                        impose (in our sole discretion) an unreasonable or disproportionately large load on
                        the Site’s infrastructure; (b) copy, reproduce, modify, create derivative works from,
                        distribute, or publicly display any content (other than content you have submitted
                        to the Site) from the Site, any software code that is part of the Site, or any services
                        that are offered on the Site without the prior express written permission of iCruits and
                        the appropriate third party, as applicable; (c) interfere or attempt to interfere with
                        the proper operation of the Site or any activities conducted on the Site; (d) bypass any
                        measures we may use to prevent or restrict access to the Site or any subparts of the Site,
                        including, without limitation, features that prevent or restrict use or copying of any content
                        or enforce limitations on use of the Site or the content therein; (e) transmit spam, chain
                        letters, or other unsolicited communications; (f) attempt to interfere with or compromise
                        the system integrity or security or decipher any transmissions to or from the servers
                        running the Site; (g) collect or harvest any personally identifiable information,
                        including Account names, from the Site; (h) access any content on the Site through
                        any technology or means other than those provided or authorized by the Site; or (i) directly
                        or indirectly, advertise or promote another website, product, or service or solicit other
                        Users for other websites, products, or services.
                    </span>
                </p>
                <p>
                    <span style="font-weight: 400">
                        Additionally, you agree that you will not post or introduce any
                        invalid data, virus, worm, or other harmful or malicious software code, agent,
                        hidden procedure, routine, or mechanism through or to the Site or the Site
                        software that is designed to cause to cease functioning, disrupt, disable, harm,
                        or otherwise impair in any manner, including aesthetic disruptions or distortions,
                        the operation of (or to allow you or any other person to access or damage or corrupt data,
                        storage media, programs, equipment, or communications or otherwise interfere with
                        operations of or on) the Site or any other software, firmware, hardware, computer
                        system, or network of iCruits or any third party.
                    </span>
                </p>
                <h3><b>Mobile and Other Devices</b></h3>
                <p>
                    <span style="font-weight: 400">
                        When using our mobile applications, Login App and/or VR Simulator you will give those application
                        access to internet in order to maintain connection with website.
                        Our mobile applications may not contain the same functionality available on the Site.
                    </span>
                </p>
                <h3><b>Site Updates</b></h3>
                <p>
                    <span style="font-weight: 400">
                        We may from time to time in our sole discretion develop and provide Site Services
                        updates, which may include upgrades, bug fixes, patches, and other
                        error corrections and/or new features (collectively, including related documentation, “
                    </span><strong>Updates</strong>
                    <span style="font-weight: 400">”).  Updates may also modify or delete in their entirety certain
                        features and functionality.  You agree that we do not have any obligation to provide
                        any Updates or to continue to provide or enable any particular features or functionality.
                        You will promptly download and install all Updates and acknowledge and agree that Site
                        Services or portions thereof may not work properly should you fail to do so. You further
                        agree that all Updates will be subject to the terms of the Terms of Service, unless otherwise
                        provided in terms associated with such Update.  iCruits reserves the right, at any time, to
                        modify, suspend, or discontinue Site Services or any part thereof without notice.
                        You agree iCruits will not be liable to you or any third party for any modification, suspension,
                        or discontinuance of Site Services or any part thereof.
                    </span>
                </p>
                <h2><b>LIMITATION OF LIABILITY</b></h2>
                <p>
                    <span style="font-weight: 400">
                        iCruits is not liable, and you agree not to hold us responsible, for any damages
                        or losses arising out of or in connection with the Terms of Service, including, but not limited to:
                    </span>
                </p>
                <ul>
                <li style="font-weight: 400"><span style="font-weight: 400">
                    your use of or your inability to use our Site or Site Services;</span></li>
                <li style="font-weight: 400"><span style="font-weight: 400">
                    delays or disruptions in our Site or Site Services;</span></li>
                <li style="font-weight: 400"><span style="font-weight: 400">
                    viruses or other malicious software obtained by accessing, or linking to, our Site or Site Services;</span></li>
                <li style="font-weight: 400"><span style="font-weight: 400">
                    glitches, bugs, errors, or inaccuracies of any kind in our Site or Site Services;</span></li>
                <li style="font-weight: 400"><span style="font-weight: 400">
                    damage to your hardware device from the use of the Site or Site Services;</span></li>
                <li style="font-weight: 400"><span style="font-weight: 400">
                    the content, actions, or inactions of third parties’ use of the Site or Site Services;</span></li>
                <li style="font-weight: 400"><span style="font-weight: 400">
                    a suspension or other action taken with respect to your account;</span></li>
                <li style="font-weight: 400"><span style="font-weight: 400">
                    your reliance on the quality, accuracy, or reliability of job postings, Profiles, ratings,
                    recommendations, and feedback (including their content, order, and display), or metrics
                    found on, used on, or made available through the Site; and</span></li>
                <li style="font-weight: 400"><span style="font-weight: 400">
                    your need to modify practices, content, or behavior or your loss of or inability to
                    do business, as a result of changes to the Terms of Service.</span></li>
                </ul>
                <p><span style="font-weight: 400">
                    ADDITIONALLY, IN NO EVENT WILL ICRUITS, OUR LICENSORS, OR OUR THIRD-PARTY SERVICE
                    PROVIDERS BE LIABLE FOR ANY SPECIAL, CONSEQUENTIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, OR INDIRECT
                    COSTS OR DAMAGES, INCLUDING, BUT NOT LIMITED TO, LITIGATION COSTS, INSTALLATION AND REMOVAL COSTS,
                    OR LOSS OF DATA, PRODUCTION, PROFIT, OR BUSINESS OPPORTUNITIES. LIMITATIONS WILL APPLY TO ANY
                    LIABILITY, ARISING FROM ANY CAUSE OF ACTION WHATSOEVER ARISING OUT OF OR IN CONNECTION WITH
                    THIS AGREEMENT OR THE OTHER TERMS OF SERVICE, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE),
                    STRICT LIABILITY, OR OTHERWISE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH COSTS OR DAMAGES AND
                    EVEN IF THE LIMITED REMEDIES PROVIDED HEREIN FAIL OF THEIR ESSENTIAL PURPOSE.  SOME STATES AND
                    JURISDICTIONS DO NOT ALLOW FOR ALL OF THE FOREGOING EXCLUSIONS AND LIMITATIONS, SO TO THAT EXTENT,
                    SOME OR ALL OF THESE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.
                </span></p>
                <h2><b>RELEASE</b></h2>
                <p>
                    <span style="font-weight: 400">
                        In addition to the recognition that iCruits is not a party to any contract between Users,
                        you hereby release iCruits, and our respective officers, directors, agents, subsidiaries,
                        joint ventures, and employees from claims, demands, and damages (actual and consequential)
                        of every kind and nature, known and unknown, arising out of or in any way connected with
                        any dispute you have with another User, whether it be at law or in equity.
                    </span>
                </p>
                <p>
                    <b>
                        TO THE EXTENT APPLICABLE, YOU HEREBY WAIVE THE PROTECTIONS OF CALIFORNIA
                        CIVIL CODE § 1542 (AND ANY ANALOGOUS LAW IN ANY OTHER APPLICABLE JURISDICTION) WHICH
                        SAYS: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT
                        TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR
                        HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.”
                    </b>
                </p>
                <p style="margin-bottom: 100px;">
                    <span style="font-weight: 400">
                        This release will not apply to a claim that iCruits failed to meet our obligations under the Terms of Service.
                    </span>
                </p>
                </div>
            </div>
        </div>
    </div>
</section>