{% load staticfiles %}
{% load i18n %}
{% load compress %}

{% compress js %}

<!-- Theme JavaScript
<script src="{% static 'js/clean.min.js' %}" charset="utf-8"></script> -->

<!-- bower components -->
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-touch/angular-touch.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'bower_components/ng-file-upload/ng-file-upload.min.js' %}"></script>
<!-- end of bower components -->

<!-- custom angular js -->
<script charset="utf-8" type="text/javascript" src="{% static 'js/js-main.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'js/init/main.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'js/init/routes.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'js/init/services.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'js/init/controllers.js' %}"></script>
<script charset="utf-8" type="text/javascript" src="{% static 'js/init/directives.js' %}"></script>
<!-- end of custom angular js-->
{% endcompress %}