{% load static %}
<header id="home" ng-controller="LoginCtrl">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner img-responsive">
            <div class="item active">
                <div class="caption">
                    <h1 class="animated fadeInLeftBig">Welcome to <span>iCruits</span></h1>
                    <!--a data-scroll class="btn btn-start animated fadeInUpBig" href="#login">Start now</a-->
                </div>
            </div>
            <div class="item">
                <div class="caption">
                    <h1 class="animated fadeInLeftBig">Say Hello to <span>Your</span> future</h1>
                    <!--a data-scroll class="btn btn-start animated fadeInUpBig" href="#login">Start now</a-->
                </div>
            </div>
        </div>
            <form id="theForm"
                  class="simform"
                  autocomplete="off"
                  data-ng-submit="login()"
                  role="form"
                  accept-charset="UTF-8">
                <div class="simform-inner">
                    <ol class="questions">
                        <li>
                            <input id="q1"
                                   name="q1"
                                   type="text"
                                   placeholder="Username"
                                   data-ng-model="log.username"/>
                        </li>
                        <li>
                            <input id="q2"
                                   name="q2"
                                   type="password"
                                   placeholder="Password"
                                   data-ng-model="log.password"/>
                        </li>
                    </ol><!-- /questions -->
                    <div class="controls">
                        <button class="next"></button>
                        <div class="progress"></div>
                        <span class="number">
                            <span class="number-current"> / </span>
                            <span class="number-total"></span>
                        </span>
                        <span class="error-message"></span>
                    </div><!-- / controls -->
                </div><!-- /simform-inner -->
                <a type="submit"
                   class="btn btn-start animated fadeInUpBig hide"
                   ng-click="login()"><span>Sign in</span></a>
            </form><!-- /simform -->

        <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>
</header>

    <!--div class="container cf">
        <div class="animation-element bounce-up cf">
            <div class="subject">
                <img class="img-responsive center-block" style="margin-top: 50px; height: 250px;" src="{% static 'img/logo.png' %}">
            </div>
        </div>
            <form id="theForm"
                  class="simform"
                  autocomplete="off"
                  data-ng-submit="login()"
                  role="form"
                  accept-charset="UTF-8">
                <div class="simform-inner">
                    <ol class="questions">
                        <li>
                            <span><label for="q1" class="text-center">Login</label></span>
                            <input id="q1"
                                   name="q1"
                                   type="text"
                                   placeholder="Username"
                                   data-ng-model="log.username"/>
                        </li>
                        <li>
                            <span><label for="q2" class="text-center">Login</label></span>
                            <input id="q2"
                                   name="q2"
                                   type="password"
                                   placeholder="Password"
                                   data-ng-model="log.password"/>
                        </li>
                    </ol><!-- /questions -->
                    <!--div class="controls">
                        <button class="next"></button>
                        <div class="progress"></div>
                        <span class="number">
                            <span class="number-current"></span>
                            <span class="number-total"></span>
                        </span>
                        <span class="error-message"></span>
                    </div><!-- / controls -->
                <!--/div><!-- /simform-inner -->
                <!--a type="submit"
                   class="btn password-btn btn-2 hide"
                   style="position: absolute; max-width: 100%;"
                   ng-click="login()"><span>Sign in</span></a>
            </form><!-- /simform -->
        <!--a class="btn password-btn btn-2 bottom-left-btn">
            Forgot Password
        </a>
    </div-->

<script charset="utf-8" type="text/javascript" src="{% static 'js/stepsForm.js' %}"></script>

<script>
    var theForm = document.getElementById( 'theForm' );

    new stepsForm( theForm, {
        onSubmit : function( form ) {
            // hide form
            classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );
            /*
				form.submit()
				or
				AJAX request (maybe show loading indicator while we don't have an answer..)
				*/

            // let's just simulate something...
            var login = theForm.querySelector( '.btn' );
            classie.addClass( login, 'show' );
        }
    });
</script>
<script>
    ///* animation
var $animation_elements = $('.animation-element');
var $window = $(window);

function check_if_in_view() {
    var window_height = $window.height();
    var window_top_position = $window.scrollTop();
    var window_bottom_position = (window_top_position + window_height);

    $.each($animation_elements, function() {
        var $element = $(this);
        var element_height = $element.outerHeight();
        var element_top_position = $element.offset().top;
        var element_bottom_position = (element_top_position + element_height);

        //check to see if this current container is within viewport
        if ((element_bottom_position >= window_top_position) &&
            (element_top_position <= window_bottom_position)) {
            $element.addClass('in-view');
        } else {
            $element.removeClass('in-view');
        }
    });
}

$(window).on('scroll resize', check_if_in_view);

</script>
