{% load static %}
<header id="home" ng-controller="LoginCtrl">
    <div id="home-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner img-responsive">
            <div class="item active">
                <div class="registerWrapper">
                    <span class="animated fadeInLeftBig">Welcome to iCruits</span>
                </div>
            </div>
            <div class="item">
                <div class="registerWrapper">
                    <span class="animated fadeInLeftBig">Say Hello to Your future</span>
                </div>
            </div>
        </div>
        <form id="theForm"
              class="simform"
              autocomplete="off"
              role="form"
              accept-charset="UTF-8">
            <div class="simform-inner">
                <div ng-if="page_1" class="questions">
                    <input id="username"
                           class="cleaninput"
                           name="q1"
                           type="text"
                           placeholder="Email"
                           data-ng-model="log.username"
                           ng-trim="false" custom-validation>
                    <button class="next-login show" ng-click="checkuser()"></button>
                    <div class="progress"></div>
                    <span id="number" class="number">
                        <span class="number-current" ng-bind="current_page"></span>
                        <span class="number-total" ng-bind="total_pages"></span>
                    </span>
                    <div ng-if="errors">
                        <span class="error-message show" ng-bind="error"></span>
                    </div>
                </div>
                <div ng-if="page_2" class="questions">
                    <input class="cleaninput"
                           type="text"
                           data-ng-model="log.username"
                           readonly>
                    <input name="q2"
                           class="cleaninput"
                           type="password"
                           placeholder="Password"
                           data-ng-model="log.password"
                           ng-trim="false" custom-validation>
                    <div class="controls">
                        <button class="next-login show" ng-click="login()"></button>
                        <button class="prev-login show" ng-click="prevPage()"></button>
                        <div class="progress" style="width: 50%"></div>
                        <span id="number" class="number">
                            <span class="number-current" ng-bind="current_page"></span>
                            <span class="number-total" ng-bind="total_pages"></span>
                        </span>
                        <div ng-if="errors">
                            <span class="error-message show" ng-bind="error"></span>
                        </div>
                    </div><!-- / controls -->
                </div>
            </div><!-- /simform-inner -->
                <!--a type="submit"
                   style="position: fixed; left: 20%;" 
                   class="btn-white btn-white-slide animated fadeInUpBig hide text-center"
                   ng-click="login()">    
                    <svg>
                        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                    </svg>
                    Sign In
                </a-->
        </form><!-- /simform -->
    </div>
</header>