<nav class="dashHeader text-center navbar navbar-default fixed top"><span style="color: black">I</span><span style="color: #1b93d1">C</span><span style="color: black">RUITS</span></nav>
<section id="pages" style="margin-top: 75px;">
    <div class="profileContainer" style="margin-top: 150px">
        <span class="sentEmail">
            Site is currently available only for pilots!
        </span>
        <a id="blueprint-btn" ng-click="backToHome()">
            <span id="advanced-span" class="show-button">
                Back to Login
            </span>
            <span id="advanced-span-2" class="hover show-button">
                Back to Login
            </span>
        </a>
    </div>
</section>
