<nav class="dashHeader text-center fixed top"><span>ICRUITS</span></nav>
<section id="pages" style="margin-top: 75px;">
    <div class="profileContainer" style="margin-top: 150px">
        <span class="sentEmail">
            Site is currently available only for pilots!
        </span>
        <a id="blueprint-btn" ng-click="backToHome()">
            <span id="advanced-span" class="show-button">
                Back to Login
            </span>
            <span id="advanced-span-2" class="hover show-button">
                Back to Login
            </span>
        </a>
    </div>
</section>
<script type="text/javascript">$('html,body').css({'height': 'auto'});</script>