<nav class="dashHeader text-center navbar navbar-default fixed top"><span>ICRUITS</span></nav>
<section id="pages" style="margin-top: 75px;">
    <div class="profileContainer" style="margin-top: 150px">
        <div class="userTypeFont" style="margin-top: 20px;">
            <span class="userFields">Email </span>
            <input type="text" 
                   name="email"
                   class="cleaninput bigUserInput"
                   ng-model="user_info.email"
                   ng-trim="false" custom-validation>
        </div>
        <div class="userTypeFont" style="margin-top: 0px;">
            <span class="userFields">First Name </span>
            <input type="text" 
                   name="user first name"
                   class="cleaninput bigUserInput"
                   ng-model="user_info.first_name"
                   ng-trim="false" custom-validation>
        </div>
        <div class="userTypeFont" style="margin-top: 0px;">
            <span class="userFields">Last Name </span>
            <input type="text" 
                   name="user first name"
                   class="cleaninput bigUserInput"
                   ng-model="user_info.last_name"
                   ng-trim="false" custom-validation>
        </div>
        <div class="userTypeFont" style="margin-top: 0px;">
            <span class="userFields">Location </span>
            <input type="text" 
                   name="user first name"
                   class="cleaninput bigUserInput"
                   ng-model="user_info.location"
                   ng-trim="false" custom-validation>
        </div>
        <div class="userTypeFont" style="margin-top: 0px;">
            <span class="userFields">Mobile Number </span>
            <input type="text" 
                   name="user first name"
                   class="cleaninput bigUserInput"
                   ng-model="user_info.mobile_number"
                   ng-trim="false" custom-validation>
        </div>
        <div class="userTypeFont" style="margin-top: 0px; margin-bottom: 10px;">
            <span class="userFields">Address </span>
            <input type="text" 
                   name="user first name"
                   class="cleaninput bigUserInput"
                   ng-model="user_info.address"
                   ng-trim="false" custom-validation>
        </div>
        <a id="filter-btn" ng-click="updateProfile()">
            <span>
                Update
            </span>
            <span class="hover">
                Update
            </span>
        </a>
        <a id="back-btn" data-ui-sref="root.dashboard">
            <span id="advanced-span" class="show-button">
                x
            </span>
            <span id="advanced-span-2" class="hover show-button">
                x
            </span>            
        </a>
    </div>
</section>
