<nav class="dashHeader text-center navbar navbar-default fixed top"><span style="color: black">I</span><span style="color: #1b93d1">C</span><span style="color: black">RUITS</span></nav>
<section id="pages" style="margin-top: 75px;">
    <div class="profileContainer">
        <div class="userTypeFont" style="margin-top: 20px;">
            <span class="userFields">Email </span>
            <input type="email"
                   title="email"
                   name="email"
                   class="cleaninput bigUserInput"
                   ng-model="user_info.email"
                   ng-trim="false" custom-validation>
        </div>
        <div class="userTypeFont" style="margin-top: 0px;">
            <span class="userFields">First Name </span>
            <input type="text"
                   title="first name"
                   name="user first name"
                   class="cleaninput bigUserInput"
                   ng-model="user_info.first_name"
                   ng-trim="false" custom-validation>
        </div>
        <div class="userTypeFont" style="margin-top: 0px;">
            <span class="userFields">Last Name </span>
            <input type="text"
                   title="last name"
                   name="user last name"
                   class="cleaninput bigUserInput"
                   ng-model="user_info.last_name"
                   ng-trim="false" custom-validation>
        </div>
        <div class="userTypeFont" style="margin-top: 0px;">
            <span class="userFields">Mobile Number </span>
            <input type="text"
                   title="phone number"
                   name="Mobile number"
                   class="cleaninput bigUserInput"
                   ng-model="user_info.mobile_number"
                   ng-trim="false" custom-validation>
        </div>
        <div class="userTypeFont" style="margin-top: 0px; margin-bottom: 10px;">
            <span class="userFields">Address </span>
            <input type="text" 
                   name="address"
                   title="address"
                   class="cleaninput bigUserInput"
                   ng-model="user_info.address"
                   id="address">
        </div>
        <a id="black-filter-btn" ng-click="updateProfile()">
            <span>
                Update
            </span>
            <span class="hover">
                Update
            </span>
        </a>
        <a id="black-back-btn" data-ui-sref="root.dashboard" style="font-size: 1.2em;">
            <span id="advanced-span" class="show-button">
                &times;
            </span>
            <span id="advanced-span-2" class="hover show-button">
                &times;
            </span>            
        </a>
    </div>
</section>


<script type="text/javascript">         
    function initialize() {
        autocomplete = new google.maps.places.Autocomplete(document.getElementById('address'),{
          types : [ 'geocode' ]
        });
        /*google.maps.event.addListener(autocomplete, 'place_changed', function() {
        var lat = (document.getElementById('lat'));
        var place = autocomplete.getPlace();
        var lat= place.geometry.location.lat();
        var lon= place.geometry.location.lng();
        var placeDetails = place.address_components;
        var count = placeDetails.length;
        var contry = "";
        while(count != 0 && country == ""){
            if(placeDetails[count-1].types[0] == "country"){
            country = placeDetails[count-1].short_name;
                $('#shippingcountry').val(country);
                console.log(country);
            }
            count--;
        }
        $("#lat").val(lat);
        $("#lon").val(lon)
        });*/
      }

    google.maps.event.addDomListener(window, 'load', initialize);

    /*function savedata(){

        document.getElementById('formSubmit').submit();
    }*/
    initialize();
</script>

