<nav class="dashHeader text-center fixed top"><span>ICRUITS</span></nav>
<div class="container" style="margin-top: 75px; margin-bottom: 100px;">
    <div class="row" ng-repeat="status in myAppliedStatus" style="border-bottom: 2px solid #337ab7;margin-top: 10px;padding-bottom: 20px;">
        <div class="col-sm-3">
            <div class="dashboardItem text-center blueprintItem" >
                <div class="inner">
                    <span class="nohover center-block blueprintTitle"
                          data-ng-bind="status.blueprint_data.name">
                    </span>
                    <span style="color: rgb(100, 100, 100)">@ <span class="dashboardCompanyName" data-ng-bind="status.blueprint_data.company_name"></span></span>
                    <div class="row">
                        <span class="dashboardLocation" data-ng-bind="status.blueprint_data.current_location"></span>
                        <span class="dashboardSalary" data-ng-bind="status.blueprint_data.salary_range"></span>
                    </div>
                    <img class="img-responsive" src="{{ status.blueprint_data.video_png }}">
                </div>
            </div>
        </div>
        <!--div class="col-sm-3" ng-repeat="tasks in status.numberOfTasks">
            <span class="circle-info-status">
                <span>50<span>%</span></span>
            </span>
            <p class="taskId" data-ng-bind="tasks"></p>
        </div-->
        <div id="lvl1" class="col-sm-3">
            <span class="circle-info-status">
                <span>2<span>%</span></span>
            </span>
            <p class="taskId">Level I</p>
        </div>
        <div id="lvl2" class="col-sm-3">
            <span class="circle-info-status">
                <span>0<span>%</span></span>
            </span>
            <p class="taskId">Level II</p>
        </div>
        <div id="lvl3" class="col-sm-3">
            <span class="circle-info-status">
                <span>0<span>%</span></span>
            </span>
            <p class="taskId">Level III</p>
        </div>
    </div>
</div>
<a id="black-back-btn" data-ui-sref="root.dashboard"
   class="" style="font-size: 1em;">
    <span id="advanced-span" class="show-button">
        &times;
    </span>
    <span id="advanced-span-2" class="hover show-button">
        &times;
    </span>
</a>