<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blueprint Created</title>
</head>
<body>
<nav style="position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 75px;
     background-color: rgb(245, 245, 245);
     color: rgb(0, 0, 0);
     margin: 0 auto;
     z-index: 10; text-align: center;">
    <span style="margin-top: 38px;
                 font-family: Roboto Condensed;
                 font-size: 1.525em;
                 text-shadow: 1px 1px grey;
                 top: 1em;
                 position: relative;
                 letter-spacing: 0.325em;">
        ICRUITS
    </span>
</nav>
<section id="pages" style="margin-top: 75px;">
    <div style="margin-top: 150px    
                width: 450px;
                /*margin-top: 10%;*/
                margin-left: auto;
                margin-right: auto;
                background-color: rgb(250,250,250);
                border: 1px solid rgb(252,252,252);">
        <span style="position: absolute;
                     left: 0;
                     right: 0;
                     margin-left: auto;
                     margin-right: auto;
                     font-family: Roboto Condensed;
                     font-size: 1.2em;
                     text-transform: uppercase;
                     width: 480px;
                     top: 20%;">
            {{ username }}, you have incoming interview with {{ company }} HR team, about {{ blueprint }} Blueprint. <br>
        </span>
        <!--a id="blueprint-btn" href="https://polar-wave-49918.herokuapp.com/">
            <span id="advanced-span" class="show-button">
                To iCruits
            </span>
            <span id="advanced-span-2" class="hover show-button">
                To iCruits
            </span>
        </a-->
    </div>
</section>
</body>
</html>