<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Blueprint Created</title>
    </head>
    <body>
        <div style="margin: 0;">
            <div style="background: #f2f2f2;margin: 0 auto;max-width: 640px;padding: 0 20px;">
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width: 96%;margin: auto;padding: 5px 0 0px 0; margin-bottom: 80px;">
                                <img style="float: right" src="https://icruits.herokuapp.com/static/img/new-logo-64.png">
                                <img style="float: left; height: 50px;" src="https://icruits.herokuapp.com/static/img/icruits.png">
                            </div>
                            <div style="background: #fff;color: #5b5b5b;border-radius: 4px;font-family: arial;font-size: 13px;padding: 10px 20px;width: 90%;margin: 20px auto;line-height: 17px;border: 1px #ddd solid;border-top: 0;clear: both;">
                                <p>
                                    Hi {{ username }}!
                                </p>
                                <p>
                                    Thank you for applying to Blueprint, {{ blueprint }}.
                                </p>
                                Please use one of following links to download job simulator <br>
                                for your desired platform.
                                <p style="margin-top: 40px;">
                                    https://www.dropbox.com/s/qj12qdkth2z4tyo/iCruitsVR.apk?dl=0
                                </p>
                                <!--br>For MacOS: <br>
                                       <p>
                                           {{ simulator_url_mac }}. <br>
                                       </p>
                                       For iOS: <br>
                                       <p>
                                           {{ simulator_url_ios }}. <br>
                                       </p>
                                       For Windows: <br>
                                       <p>
                                           {{ simulator_url_win }}. <br>
                                       </p>
                                       For Android: <br>
                                       <p>
                                           {{ simulator_url_android }}. <br>
                                       </p-->
                                <p style="margin-bottom: 40px;">
                                    https://www.dropbox.com/s/6atxf3zuln9re49/IcruitsLogin.apk?dl=0
                                </p>
                                <p>
                                    See you soon on <a href="https://icruits.herokuapp.com">iCruits</a>.
                                </p>
                                <p>
                                    iCruits Care Team
                                </p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>