<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Blueprint Created</title>
    </head>
    <body>
        <div>
            <div style="margin-top: 0;width: 100%;height: 500px;background-color: rgb(240,240,240);">
                <span style="position: absolute;left: 0;right: 0;margin-left: auto;margin-right: auto;font-size: 1em;width: 550px;top: 150px;background-color: white;padding-top: 30px;padding-left: 20px;padding-right: 20px;padding-bottom: 30px;">
                    <img style="z-index: 2;position: absolute;right: 0;top: -64px;" src="https://icruits.herokuapp.com/static/img/new-logo-64.png">
                    Hi {{ username }}, <br>
                    Thank you for applying to Blueprint, {{ blueprint }}. <br>
                    Please use one of following links to download job simulator <br>
                    for your desired platform.
                    Job Simulator App <br>
                    <p style="margin-top: 20px;">
                        https://www.dropbox.com/s/qj12qdkth2z4tyo/iCruitsVR.apk?dl=0
                    </p>
                    <!--br>For MacOS: <br>
                    <p>
                        {{ simulator_url_mac }}. <br>
                    </p>
                    For iOS: <br>
                    <p>
                        {{ simulator_url_ios }}. <br>
                    </p>
                    For Windows: <br>
                    <p>
                        {{ simulator_url_win }}. <br>
                    </p>
                    For Android: <br>
                    <p>
                        {{ simulator_url_android }}. <br>
                    </p-->
                    <p style="margin-bottom: 20px;">
                        https://www.dropbox.com/s/6atxf3zuln9re49/IcruitsLogin.apk?dl=0
                    </p>
                    <p>
                        See you soon on iCruits.
                    </p>
                    <p>
                        iCruits Care Team
                    </p>
                </span>
                <!--a id="blueprint-btn" href="https://polar-wave-49918.herokuapp.com/">
                    <span id="advanced-span" class="show-button">
                        To iCruits
                    </span>
                    <span id="advanced-span-2" class="hover show-button">
                        To iCruits
                    </span>
                </a-->
            </div>
        </div>
    </body>
</html>