<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blueprint Created</title>
</head>
<body>
<nav class="dashHeader"><span>ICRUITS</span></nav>
<section id="pages" style="margin-top: 75px;">
    <div class="profileContainer" style="margin-top: 150px">
        <span class="sentEmail">
            {{ company_name }} has created new Blueprint, {{ bluprint_name }}. <br>
            {{ description }}. <br>
            Practice limit for this Blueprint is set to {{ practice_limit }}.
        </span>
        <a id="blueprint-btn" href="https://polar-wave-49918.herokuapp.com/">
            <span id="advanced-span" class="show-button">
                To iCruits
            </span>
            <span id="advanced-span-2" class="hover show-button">
                To iCruits
            </span>
        </a>
    </div>
</section>
</body>
</html>