<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Blueprint Created</title>
    </head>
    <body>
        <div style="margin: 0;">
            <div style="background: #f2f2f2;margin: 0 auto;max-width: 640px;padding: 0 20px;">
                <table align="center" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <div style="width: 96%;margin: auto;padding: 5px 0 0px 0; margin-bottom: 80px;">
                                <img style="float: right" src="https://icruits.herokuapp.com/static/img/new-logo-64.png">
                                <img style="float: left; height: 50px;" src="https://icruits.herokuapp.com/static/img/icruits.png">
                            </div>
                            <div style="background: #fff;color: #5b5b5b;border-radius: 4px;font-family: arial;font-size: 13px;padding: 10px 20px;width: 90%;margin: 20px auto;line-height: 17px;border: 1px #ddd solid;border-top: 0;clear: both;">
                                <p>
                                    Hi {{ username }}!
                                </p>
                                <p>
                                    {{ blueprint }} job has reached maximum number of queue. <br>
                                </p>
                                You are placed in waiting list until first available spot. <br>
                                We will inform you via email once you enter queue. <br>
                                <p>
                                    See you soon on <a href="https://icruits.herokuapp.com">iCruits</a>.
                                </p>
                                <p>
                                    iCruits Care Team
                                </p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>